
.page-title {
	padding: 25px 0;
	font-size: 17px;
	font-weight: 700;
	line-height: 20px;
}

.timeline {
	margin-bottom: 20px;
	@include clearfix();

	dt {
		color: #555;
		font-weight: 700;

		span {
			font-weight: 400;
		}
	}

	dd {
		color: #555;
		padding: 0;
		margin: 0 0 10px 0;
	}

	@media (min-width: $screen-sm-min) {

		dt {
			float: left;
			width: 80px;
		}

		dd {
			margin-left: 80px;
		}

	}
}


.accordion {

	.accordion-item {

		&.open {

			.accordion-title {

				a {

					span {
						border-bottom-color: transparent;
					}

					i {
						@include opacity(0);
						@include transition(.3s);
					}
				}
			}

			.accordion-content {

			}
		}
	}

	.accordion-title {
		color: #000;
		background: #f6f6f6;
		border-bottom: 5px solid #fff;

		.border-wrap {
			padding-top: 25px;
			padding-bottom: 25px;

			&:after,
			&:before {
				height: auto;
				bottom: -5px;
			}
		}

		a {
			color: #000;
			font-size: 20px;
			font-weight: 600;
			line-height: 25px;
			display: inline-block;
			text-decoration: none;
			@include transition(.3s);

			span {
				border-bottom: 1px dashed #000;
			}

			i {
				font-size: 12px;
				font-weight: 400;
				margin-left: 7px;
				@include transition(.3s);
			}

			&:hover {
				color: $color-orange;
				@include transition(.3s);

				span {
					border-bottom-color: $color-orange;
				}
			}
		}
	}


	.accordion-content {
		display: none;
		overflow: hidden;
		@include transition(0.3s);

		.border-wrap {
			padding-top: 20px;
			padding-bottom: 25px;
		}

		.accordion-toggle {
			font-size: 13px;
			font-weight: 700;
			line-height: 15px;
			color: $color-orange;
			text-decoration: none;

			span {
				border-bottom: 1px dashed $color-orange;
			}

			i {
				font-size: 10px;
				margin-left: 6px;
			}

			&:hover {

				span {
					border-bottom-color: transparent;
				}
			}
		}

		ul {
			margin-bottom: 20px;

			li {
				padding-left: 20px;
				margin-bottom: 10px;
				position: relative;

				&:before {
					left: 0;
					top: 9px;
					width: 5px;
					height: 5px;
					content: '';
					position: absolute;
					background: $color-orange;
					@include rotate(45deg);
				}
			}
		}


		h4 {
			color: #000;
			font-size: 17px;
			font-weight: 700;
			line-height: 20px;
			margin-bottom: 20px;

			.text-gray {
				color: #666;
				margin-bottom: 10px;
			}
		}
	}
}


.support {
	padding: 0;
	list-style: none;
	margin: 0 0 20px 0;
	@include clearfix();

	> li {
		@include clearfix();

		.support-item {
			width: 100%;
			display: table;
			min-height: 75px;
			margin-bottom: 30px;
		}

		.support-icon-inner {
			width: 90px;
			display: table-cell;
			vertical-align: middle;
		}

		.support-text {
			color: #555;
			font-size: 15px;
			line-height: 20px;
			display: table-cell;
			vertical-align: middle;
		}

		.support-icon {
			width: 75px;
			height: 75px;
			padding-top: 14px;
			text-align: center;
			background: url("../img/advantage_bg.svg") 50% 50% no-repeat;
			background-size: cover;

			.ico-svg {
				fill: #010100;
				height: 47px;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		margin-left: -25px;
		margin-right: -25px;

		> li {
			float: left;
			width: 50%;
			padding: 0 25px;
		}
	}

	@media (min-width: $screen-md-min) {

		> li {
			width: 33.33%;
		}
	}

	@media (min-width: $screen-lg-min) {
		margin-left: -20px;
		margin-right: -20px;

		> li {
			width: 16.66%;
			padding: 0 20px;

			.support-item {
				display: block;
			}

			.support-icon-inner {
				display: block;
				margin-bottom: 10px;
			}

			.support-text {
				display: block;
				text-align: left;
			}
		}
	}
}

.about-bottom {
	padding: 25px 0;

	p {
		margin-bottom: 7px;
	}
}

