.advantage {
	max-width: 100%;
	overflow: hidden;
	background: #fff;

	ul {
		padding: 0;
		width: 300px;
		margin: 0 auto;
		list-style: none;
		border-left: 2px solid #f5f5f5;
		@include clearfix();

		li {
			position: relative;
			border-right: 2px solid #f5f5f5;
			border-bottom: 2px solid #f5f5f5;

			&:after {
				top: 100%;
				content: '';
				left: -300px;
				right: -300px;
				position: absolute;
				border-bottom: 2px solid #f5f5f5;
			}
		}
	}


	.advantage-item {
		color: #555;
		display: block;
		font-size: 13px;
		line-height: 15px;
		min-height: 105px;
		position: relative;
		padding: 15px 20px 15px 100px;
		text-decoration: none;

		.advantage-icon {
			top: 50%;
			left: 14px;
			width: 75px;
			height: 75px;
			padding-top: 14px;
			margin-top: -38px;
			text-align: center;
			position: absolute;
			background: url("../img/advantage_bg.svg") 50% 50% no-repeat;
			background-size: cover;

			.ico-svg {
				fill: #000;
				height: 47px;
			}
		}

		h4 {
			color: #333;
			font-size: 13px;
			font-weight: 700;
			line-height: 18px;
			margin-bottom: 5px;
			text-transform: uppercase;

			span {
				border-bottom: 1px solid transparent;
			}
		}

		p {
			color: #555;
			margin-bottom: 0;
		}

		&:hover {
			background: #e8e8e8;

			h4 {

				span {
					border-bottom-color: #000;
				}
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		ul {
			width: 610px;

			li {
				width: 50%;
				float: left;

				&:nth-child(3),
				&:nth-child(4) {
					border-bottom: none;

					&:before {
						display: none;
					}
				}
			}
		}

		.advantage-item {
			min-height: 140px;
			padding: 30px 40px 30px 115px;

			.advantage-icon {
				left: 30px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		ul {
			width: 915px;
		}

		.advantage-item {
			padding-top: 45px;
		}
	}

	@media (min-width: $screen-lg-min) {

		ul {
			width: 100%;

			li {
				width: 25%;
				border-bottom: none;

				&:before {
					display: none;
				}

				&:nth-child(2) {

					h4 {
						max-width: 130px;
					}
				}
			}
		}

		.advantage-item {
			padding-top: 30px;
		}
	}
}
