
.basket {
	width: 300px;
	margin: 0 auto;
	position: relative;

	&:after,
	&:before {
		top: 0;
		width: 2px;
		z-index: 50;
		content: '';
		height: 100%;
		position: absolute;
		background: rgba(0,0,0,0.05);
	}

	&:after {
		left: 0;
	}

	&:before {
		right: 0;
	}

	.basket-item {
		padding: 15px 17px;
		position: relative;
		border-bottom: 2px solid #f6f6f6;

		&:after,
		&:before {
			z-index: 1;
			content: '';
			height: 2px;
			bottom: -2px;
			width: 1000px;
			position: absolute;
			background: #f6f6f6;
		}

		&:after {
			left: -1000px;
		}

		&:before {
			right: -1000px;
		}
	}


	.basket-row {
		margin: 0;
		padding: 0;
		list-style: none;
		position: relative;
		@include clearfix();

		> li {
			@include clearfix();

			&:nth-child(1) {
				margin-bottom: 10px;
			}

			&:nth-child(2) {
				margin-bottom: 15px;
			}

			&:nth-child(3) {
				margin-bottom: 15px;
			}
		}
	}

	.basket-image {
		width: 100px;
		display: block;
	}

	.basket-product {
		font-size: 13px;
		font-weight: 700;
		line-height: 15px;
		margin-bottom: 15px;
		text-transform: uppercase;

		a {
			color: $color-orange;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.basket-product-color {
		position: relative;
		display: inline-block;
		padding: 2px 0 6px 32px;
		text-decoration: none !important;

		&:hover {
			color: #c25f28;

			.product-color-name {
				color: #c25f28;
				border-bottom-color: transparent;
			}
		}

		.product-color-type {
			top: 0;
			left: 0;
			width: 25px;
			height: 25px;
			position: absolute;
			display: inline-block;

			img {
				@include img-responsive(inline-block);
			}
		}

		.product-color-name {
			color: #333;
			font-size: 15px;
			line-height: 16px;
			text-decoration: none;
			border-bottom: 1px dashed #333;

			&:hover {
				text-decoration:  none;
			}
		}
	}

	.product-assembly {
		overflow: hidden;
		padding-left: 25px;
		position: relative;
		display: inline-block;

		.checkbox {
			right: 0;
			display: none;
			visibility: hidden;
		}

		.checkbox-icon {
			left: 0;
			top: 50%;
			z-index: 5;
			width: 15px;
			height: 15px;
			background: #fff;
			margin-top: -8px;
			position: absolute;
			display: block;
			border: 2px solid #e5e5e5;

			&:before {
				top: -2px;
				left: -2px;
				color: #fff;
				width: 15px;
				height: 15px;
				content: "";
				text-align: center;
				position: absolute;
				display: none;
				background: url("../img/icon_check.png") 50% 50% no-repeat;
			}
		}

		.checkbox-label {
			color: #999999;
			padding-left: 20px;
			position: relative;

			.ico-svg {
				left: 0;
				top: 2px;
				fill: #999;
				height: 16px;
				font-size: 15px;
				line-height: 17px;
				position: absolute;
				margin-top: 0;
			}

				span {

			}
		}

		&:hover {

			.checkbox-icon {
				border-color: #333;

				.ico-svg {
					color: #000;
					background: #000;
				}
			}

			.checkbox-label {
				color: #333;

			}
		}

		.checkbox:checked + .checkbox-icon {
			background: #333;
			border-color: #333;

			&::before {
				display: block;

				.ico-svg {

				}
			}
		}
	}

	.form-number {
		float: left;
		margin-right: 30px;
	}

	.basket-price {
		width: 80px;
		height: 30px;
		display: table;

		.basket-price-inner {
			height: 30px;
			display: table-cell;
			vertical-align: middle;
		}

		.basket-price-source {
			color: #999;
			font-size: 11px;
			font-weight: 700;
			line-height: 11px;
			display: block;
		}

		.basket-price-new {
			color: #000;
			font-size: 15px;
			font-weight: 700;
			line-height: 15px;
			display: block;

			i {
				font-weight: 400;
			}
		}
	}

	.basket-delete {
		top: 15px;
		right: 15px;
		width: 9px;
		height: 9px;
		z-index: 20;
		cursor: pointer;
		position: absolute;
		display: inline-block;

		&:after,
		&:before {
			top: 0;
			left: 0;
			width: 9px;
			height: 2px;
			content: '';
			background: #333;
			position: absolute;
		}

		&:after {
			@include rotate(-45deg);
		}

		&:before {
			@include rotate(45deg);
		}
	}


	@media (min-width: $screen-sm-min) {
		width: 610px;

		.basket-item {
			padding: 30px 0;
		}

		.basket-row {
			padding-left: 130px;

			> li {

				&:nth-child(1) {
					top: 0;
					left: 0;
					width: 100px;
					padding-left: 10px;
					position: absolute;
				}
			}
		}

		.basket-delete {
			top: 48px;
			right: 35px;
		}
	}

	@media (min-width: $screen-md-min) {
		width: 915px;

		.basket-item {
			padding: 0;
		}

		.basket-row {
			width: 100%;
			display: table;
			padding-left: 0;

			> li {
				float: none;
				display: table-cell;
				vertical-align: middle;

				&:nth-child(1) {
					top: auto;
					left: auto;
					width: 130px;
					position: inherit;
					padding: 0 30px 0 0;
				}

				&:nth-child(2) {
					width: 290px;
					margin-bottom: 0;
				}

				&:nth-child(3) {
					width: 220px;
					margin-bottom: 0;
				}

				&:nth-child(4) {
					margin-bottom: 0;
				}
			}
		}

		.basket-product {
			margin-bottom: 10px;
		}
	}

	@media (min-width: $screen-lg-min) {
		width: 100%;

		.basket-row {

			> li {

				&:nth-child(1) {
					width: 145px;
					padding-right: 45px;
				}

				&:nth-child(2) {
					width: 580px;
				}

				&:nth-child(4) {
				}
			}
		}

		.basket-product {
			float: left;
			width: 290px;
		}

		.basket-product-color {
			float: left;
		}
	}
}

.basket-footer {
	width: 300px;
	position: relative;
	margin: 0 auto;

	&:after,
	&:before {
		top: 0;
		width: 2px;
		z-index: 50;
		content: '';
		height: 100%;
		position: absolute;
		background: rgba(0,0,0,0.05);
	}

	&:after {
		left: 0;
	}

	&:before {
		right: 0;
	}


	> li {
		position: relative;
		padding: 10px 17px;
		border-bottom: 2px solid #f6f6f6;

		&:after,
		&:before {
			z-index: 1;
			content: '';
			height: 2px;
			bottom: -2px;
			width: 1000px;
			position: absolute;
			background: #f6f6f6;
		}

		&:after {
			left: -1000px;
		}

		&:before {
			right: -1000px;
		}

		&:last-child {
			border-bottom: none;
			padding: 15px 17px 60px 17px;

			&:after,
			&:before {
				display: none;
			}
		}

		&.row-price {
			padding: 0;
		}
	}

	.basket-promo {
		position: relative;
		@include clearfix();

		.basket-promo-label {
			color: #333;
			width: 100%;
			font-size: 15px;
			padding: 12px 0;
			line-height: 21px;
			display: inline-block;
		}

		.basket-promo-form {
			width: 100%;
			position: relative;
			padding-right: 138px;

			.basket-promo-input {
				margin: 0;
				width: 100%;
				color: #333;
				outline: none;
				font-size: 15px;
				line-height: 21px;
				padding: 10px 15px;
				display: inline-block;
				background: transparent;
				border: 2px solid #eee;
				border-right: none;
				@include placeholder(#999);

				&::-ms-clear {
					display: none;
					width: 0;
					height: 0;
				}

				&:focus {
					color: #333;
					border-color: #333;
					background: #fff;
					@include placeholder(transparent);
				}
			}

			.basket-promo-btn {
				top:0;
				right: 0;
				margin:0;
				width: 138px;
				color: #fff;
				outline: none;
				cursor: pointer;
				padding: 10px 10px;
				font-size: 15px;
				font-weight: 400;
				line-height: 21px;
				text-align: center;
				position: absolute;
				display: inline-block;
				text-decoration: none;
				vertical-align: middle;
				background-image: none;
				background: #c25f28;
				touch-action: manipulation;
				border: 2px solid #c25f28;
				@include transition(.1s);

				&:hover {
					color: #c25f28;
					background: #efe3dc;
					border-color: #efe3dc;
					text-decoration: none;
				}

				&:active {
					color: #c25f28;
					background: #fff2eb;
					border-color: #fff2eb;
				}
			}
		}
	}

	.basket-total-value {
		margin: 0;
		color: #999;
		list-style: none;
		font-size: 15px;
		line-height: 20px;
		padding: 10px 17px;
		@include clearfix();
	}

	.basket-footer-price {
		width: 100%;
		font-size: 15px;
		font-weight: 700;
		line-height: 20px;
		display: table;
		padding: 10px 17px;
		position: relative;
		border-top: 2px solid #f6f6f6;

		&:after,
		&:before {
			z-index: 1;
			content: '';
			height: 2px;
			top: -2px;
			width: 1000px;
			position: absolute;
			background: #f6f6f6;
		}

		&:after {
			left: -1000px;
		}

		&:before {
			right: -1000px;
		}

		> li {
			display: table-cell;
			vertical-align: top;

			&:first-child {
				width: 125px;
			}

			&:last-child {

				i {
					font-size: 13px;
					font-weight: 400;
				}
			}
		}

	}

	.basket-discount {
		margin: 0;
		padding: 0;
		width: 100%;
		display: table;
		list-style: none;
		position: relative;

		> li {
			display: table-cell;
			vertical-align: top;

			&:first-child {
				width: 125px;
				padding: 0 0 0 20px;
			}
		}


		.basket-discount-label {
			font-weight: 700;
			display: block;
			position: relative;
			margin-bottom: 10px;

			.discount-icon {
				top: 0;
				left: -20px;
				font-size: 15px;
				line-height: 20px;
				position: absolute;
				color: $color-orange;
				display: inline-block;
			}
		}

		p {
			width: 95px;
			font-size: 13px;
			line-height: 15px;
			margin-bottom: 0;
			padding-right: 10px;

			i {
				font-size: 12px;
			}
		}

		.basket-discount-value {
			font-weight: 700;

			i {
				font-weight: 400;
			}
		}

		i {
			font-size: 12px;
		}

	}

	.basket-summary {
		width: 100%;
		font-size: 15px;
		font-weight: 700;
		line-height: 20px;
		display: table;

		> li {
			display: table-cell;
			vertical-align: top;

			&:first-child {
				width: 125px;
			}

			&:last-child {
				font-size: 20px;
				color: $color-orange;

				i {
					font-size: 16px;
					font-weight: 400;
				}
			}
		}
	}

	.basket-sale {
		margin: 0;
		padding: 0;
		display: table;
		list-style: none;

		> li {
			display: table-cell;
			vertical-align: middle;
		}

		a {
			color: #333;
			font-size: 15px;
			line-height: 20px;
			margin-left: 15px;
			position: relative;
			margin-right: 10px;
			display: inline-block;
			text-decoration: none;

			i {
				top: 3px;
				left: -15px;
				position: absolute;
			}
		}

		strong {

			i {
				font-size: 13px;
				font-weight: 400;
			}
		}
	}

	.btn-orange {
		width: 100%;
	}


	@media (min-width: $screen-sm-min) {
		width: 610px;

		> li {
			padding: 15px 32px 15px 130px;

			&.row-promo {
				padding-top: 10px;
				padding-bottom: 10px;
			}

			&:last-child {
				text-align: right;
				padding: 30px 32px 90px 32px;
			}

			&.basket-footer-gray {
				background: #f6f6f6;
				border-bottom: 0;

				&:after,
				&:before {
					top: 0;
					height: 100%;
					background: #f6f6f6;
				}
			}
		}

		.basket-promo {

			.basket-promo-label {
				width: 70px;
				float: left;
				text-align: left;
			}

			.basket-promo-form {
				width: 375px;
				float: right;
			}
		}

		.basket-total-value {
			padding: 15px 32px 15px 130px;

			> li {
				float: left;
				margin-right: 35px;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		.basket-footer-price {
			padding: 15px 32px 15px 130px;

			> li {

				&:first-child {
					width: 265px;
				}
			}
		}

		.basket-discount {

			> li {

				&:first-child {
					width: 265px;
					padding: 0;
				}
			}

			p {
				width: auto;
			}
		}

		.basket-summary {

			> li {

				&:first-child {
					width: 265px;
				}
			}
		}

		.basket-sale {

			> li {

				&:first-child {
					width: 265px;
				}
			}

			a {
				margin-left: 0;
			}
		}


		.btn-orange {
			width: 245px;
		}
	}

	@media (min-width: $screen-md-min) {
		width: 915px;

		> li {
			padding: 15px 32px 15px 465px;

			&.row-price {
				padding: 15px 32px 15px 32px;
			}
		}

		.basket-promo {

			.basket-promo-form {
				width: 345px;
			}
		}

		.basket-total-value {
			float: left;
			width: 430px;
			padding: 0;

			> li {
				margin-right: 20px;
			}
		}

		.basket-footer-price {
			padding: 0;
			width: 418px;
			float: right;
			border-top: none;

			&:after,
			&:before {
				display: none;
			}

			> li {

				&:first-child {
					width: 300px;
				}
			}
		}

		.basket-sale {

			> li {

				&:first-child {
					width: 300px;
				}
			}
		}

		.basket-discount {

			> li {

				&:first-child {
					width: 300px;
				}
			}
		}

		.basket-summary {

			> li {

				&:first-child {
					width: 300px;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		width: 100%;

		> li {
			padding: 15px 32px 15px 775px;

			&.row-price {
				padding-left: 145px;
			}

			&.row-discount {
				padding: 18px 32px 18px 775px;
			}
		}

		.basket-promo {

			.basket-promo-form {
				width: 340px;
			}
		}

		.basket-footer-price {
			width: 413px;
		}
	}
}
