* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


// Body reset

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


.container {
	position: relative;
	@include clearfix();
}


// Links

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		outline: none;
		text-decoration: underline;
	}

}


// Headings

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

h1 {
	font-size: 30px;
	line-height: 35px;
	margin-bottom: 25px;
}

h2 {
	font-size: 30px;
	line-height: 1.16;
}


h3 {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.25;
	margin-bottom: 20px;
}

h4 {
	font-size: 17px;
	font-weight: 600;
	line-height: 1.175;
	margin-bottom: 20px;
}

h5 {
	color: #000;
	font-size: 13px;
	font-weight: 700;
	line-height: 20px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

p {
	padding: 0;
	margin: 0 0 20px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
