
.main {
	overflow: hidden;
	position: relative;
}

.page  {
	overflow: hidden;
	position: relative;

	.page-inner {
		position: relative;
	}

	@media (min-width: $screen-lg-min) {
		min-height: 100vh;
		padding-bottom: 420px;

		.page-inner {

			&.fix-top {
				padding-top: 75px;

				&.fix-filter {
					padding-top: 150px;
				}
			}
		}
	}
}


.ico-svg {
	position: relative;
	display: inline-block;
	width: auto;
	height: 20px;
	fill: #fff;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

.slide-nav {
	z-index: 50;
	width: 30px;
	height: 30px;
	color: #c26028;
	padding: 6px 0;
	font-size: 14px;
	cursor: pointer;
	line-height: 14px;
	text-align: center;
	position: absolute;
	display: inline-block;
	border: 2px solid #efe3dd;
	@include rotate(45deg);

	i {
		@include rotate(-45deg);
	}

	&:hover {
		background: #efe3dd;
	}
}

.slick-dots {
	left: 0;
	right: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	margin: 0 -5px;
	position: absolute;
	text-align: center;

	li {
		padding: 0 5px;
		display: inline-block;

		button {
			margin: 0;
			padding: 0;
			width: 10px;
			height: 10px;
			border: none;
			outline: none;
			background: transparent;
			display: inline-block;
			@include rotate(45deg);

			&:before {
				top: 1px;
				left: 1px;
				width: 8px;
				height: 8px;
				content: '';
				position: absolute;
				display: inline-block;
				border: 2px solid #e8dcd6;
			}
		}

		&.slick-active {

			button {
				background: #c25f28;

				&:before {
					border-color: transparent;
				}
			}
		}
	}
}


.category {

	&.category-page {

	}

	ul {
		padding: 0;
		width: 300px;
		margin: 0 auto;
		list-style: none;
		@include clearfix();

		li {
			float: left;
			width: 100%;
		}
	}

	.category-item {
		color: #fff;
		display: block;
		font-size: 13px;
		font-weight: 700;
		line-height: 25px;
		position: relative;
		text-decoration: none;
		text-transform: uppercase;

		&:before {
			top: 0;
			left: 0;
			z-index: 3;
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
		}

		&:hover {

			&:before {
				background: -moz-linear-gradient(top, rgba(153,153,153,0) 0%, rgba(153,153,153,0.65) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(153,153,153,0) 0%,rgba(153,153,153,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, rgba(153,153,153,0) 0%,rgba(153,153,153,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00999999', endColorstr='#a6999999',GradientType=0 ); /* IE6-9 */
			}
		}

		.category-text {
			left: 30px;
			right: 30px;
			bottom: 25px;
			z-index: 5;
			position: absolute;
			background: url("../img/icon_arrow_left.png") 100% 50% no-repeat;
		}
	}

	@media (min-width: $screen-sm-min) {

		ul {
			width: 610px;

			li {
				width: 50%;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		ul {
			width: 915px;

			li {
				width: 33.33%;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		ul {
			width: 100%;

			li {
				width: 25%;
			}
		}

		&.category-page {

			ul {

				li {
					position: relative;

					&:nth-child(5),
					&:nth-child(13),
					&:nth-child(21) {

						&:before {
							right: -3000px;
							left: -2000px;
							top: 0;
							bottom: 0;
							z-index: -1;
							content: '';
							background: #f6f6f6;
							position: absolute;
						}
					}
				}
			}

			.category-item {
				z-index: 10;
			}
		}

	}
}

.border-wrap {
	width: 300px;
	margin: 0 auto;
	padding: 0 17px;
	position: relative;

	&:after,
	&:before {
		top: 0;
		width: 2px;
		z-index: 50;
		content: '';
		height: 100%;
		position: absolute;
		background: rgba(0,0,0,0.05);
	}

	&:after {
		left: 0;
	}

	&:before {
		right: 0;
	}

	@media (min-width: $screen-sm-min) {
		width: 610px;
		padding: 0 32px;

		&.no-border-left {

			&:after {
				display: none;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		width: 915px;
	}

	@media (min-width: $screen-lg-min) {
		width: auto;
	}
}


.content {
	
	.border-wrap {
	//	padding-top: 25px;
	//	padding-bottom: 25px;
	}
}

.content-overflow {
	max-width: 100%;
	overflow: hidden;
}


.gallery {
	padding: 0;
	list-style: none;
	@include clearfix();

	> li {
		padding: 30px 0;
		position: relative;

		.gallery-image {
			display: block;
			overflow: hidden;
			max-width: 244px;
			margin: 0 auto 25px auto;

			img {
				@include transition(.4s);
			}

			&:hover {


				img {
					@include scale(1.25);
					@include transition(.3s);
				}
			}
		}

		span {
			color: #000;
			height: 20px;
			display: block;
			overflow: hidden;
			font-size: 13px;
			font-weight: 700;
			line-height: 20px;
			text-align: center;
			text-transform: uppercase;
		}
	}

	@media (min-width: $screen-sm-min) {
		margin: 0 -32px;

		> li {
			width: 50%;
			float: left;

			&:before {
				top: 0;
				right: 0;
				width: 2px;
				z-index: 50;
				content: '';
				height: 100%;
				position: absolute;
				background: rgba(0,0,0,0.05);
			}

			&:nth-child(even) {

				&:before {
					display: none;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		> li {
			width: 305px;

			&:nth-child(even) {

				&:before {
					display: block;
				}
			}

			&:nth-child(3n) {

				&:before {
					display: none;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		> li {
			width: 25%;

			&:nth-child(3n) {

				&:before {
					display: block;
				}
			}

			&:nth-child(4n) {

				&:before {
					display: none;
				}
			}
		}
	}
}

.error {
	margin: 0;
	padding: 40px 0;
	list-style: none;

	> li {

	}

	.error-text {
		color: #555;
		font-size: 17px;
		line-height: 25px;
		text-align: center;
		margin-bottom: 50px;

		p {
			margin-bottom: 25px;

			a {
				color: $color-orange;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	.error-image {
		margin: 0 auto;
		max-width: 490px;
	}

	@media (min-width: $screen-md-min) {
		padding: 0;
		width: 100%;
		display: table;

		> li {
			padding: 40px 0;
			display: table-cell;
			vertical-align: middle;

			&:first-child {
				width: 50%;
				padding-left: 80px;
			}
		}

		.error-text {
			text-align: left;
			margin-bottom: 0;
		}
	}

	@media (min-width: $screen-lg-min) {

		> li {

			&:first-child {
				width: 50%;
				padding-left: 80px;
				padding-right: 40px;
			}
		}

		.error-text {
			text-align: left;
			margin-bottom: 0;
		}
	}
}

.benefit {
	margin: 0 -17px;
	@include clearfix();

	> li {
		position: relative;
		border-bottom: 2px solid #f5f5f5;

		&:after,
		&:before {
			content: '';
			bottom: -2px;
			width: 1000px;
			position: absolute;
			border-bottom: 2px solid #f5f5f5;
		}

		&:after {
			left: -1000px;
		}

		&:before {
			right: -1000px;
		}

		&:last-child {
			&:after,
			&:before {
				display: none;
			}
		}
	}

	.benefit-row {

		.benefit-col {
			min-height: 120px;
			position: relative;
			vertical-align: middle;
			padding: 20px 10px 20px 120px;

			&:before {
				top: 0;
				right: 0;
				width: 2px;
				z-index: 50;
				content: '';
				height: 100%;
				position: absolute;
				background: #f5f5f5;
			}
		}
	}

	.benefit-icon {
		top: 50%;
		left: 20px;
		width: 75px;
		height: 75px;
		padding-top: 14px;
		margin-top: -38px;
		text-align: center;
		position: absolute;
		background: url("../img/advantage_bg.svg") 50% 50% no-repeat;
		background-size: cover;

		.ico-svg {
			fill: #333;
			height: 47px;
		}
	}

	h4 {
		color: #333;
		font-size: 13px;
		font-weight: 700;
		line-height: 18px;
		margin-bottom: 5px;
		text-transform: uppercase;

		span {
			border-bottom: 1px solid transparent;
		}
	}

	p {
		color: #555;
		margin-bottom: 0;
	}

	@media (min-width: $screen-sm-min) {
		margin: 0 -32px;

		.benefit-row {
			width: 100%;
			display: table;

			.benefit-col {
				display: table-cell;
				height: 120px;
				position: relative;
				vertical-align: middle;
				padding: 20px 10px 20px 120px;
			}
		}

		.benefit-icon {
			left: 32px;
		}
	}

	@media (min-width: $screen-md-min) {

		> li {
			width: 50%;
			float: left;
		}
	}
}

.dealers-step {
	padding: 0;
	margin: 0 -17px;
	list-style: none;
	counter-reset:li;
	@include clearfix();

	> li {
		font-size: 15px;
		line-height: 20px;
		position: relative;
		padding: 35px 17px 35px 55px;
		border-bottom: 2px solid #f6f6f6;

		&:last-child {
			border-bottom: none;
		}

		&:before {
			top: 50%;
			left: 17px;
			height: 45px;
			margin-top: -23px;
			color: #fec46e;
			font-size: 45px;
			font-weight: 700;
			line-height: 45px;
			position: absolute;
			content:counter(li);
			counter-increment:li
		}

		a {
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}

		.icon-pdf {
			padding-left: 18px;
			color: $color-orange;
			text-decoration: none;
			background: url("../img/icon_pdf.png") 0 50% no-repeat;

			span {
				border-bottom: 1px dashed $color-orange;
			}

			&:hover {
				text-decoration: none;

				span {
					border-bottom-color: transparent;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		margin: 0 -32px;

		> li {
			padding: 35px 32px 35px 70px;

			&:before {
				left: 32px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		> li {
			float: left;
			width: 305px;

			&:after {
				top: 0;
				right: 0;
				width: 2px;
				z-index: 50;
				content: '';
				height: 100%;
				position: absolute;
				background: #f5f5f5;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		> li {
			width: 33.33%;
		}
	}
}

.content-box {
	padding-top: 60px;
	padding-bottom: 50px;

	&.padding-sm {
		padding-top: 25px;
		padding-bottom: 35px;
	}

	ul {
		padding: 0;
		list-style: none;
		margin: 0 0 20px 12px;

		li {
			margin-bottom: 10px;
			position: relative;
			padding-left: 23px;

			&:before {
				top: 7px;
				left: 0;
				width: 6px;
				height: 6px;
				content: '';
				position: absolute;
				background: $color-orange;
				@include rotate(45deg);
			}
		}
	}

	ol {
		counter-reset:li;
		padding:0;
		list-style:none;
		margin-bottom: 20px;

		li {
			padding-left: 22px;
			position: relative;
			margin-bottom: 10px;

			&:before {
				top: 0;
				left: 0;
				position: absolute;
				font-weight: 700;
				content:counter(li);
				counter-increment:li;
			}
		}
	}


	.text-heading {
		color: #666;
		font-size: 17px;
		font-weight: 700;
		line-height: 20px;
		margin-bottom: 20px;
	}

	.text-lead {
		font-weight: 700;
		text-transform: uppercase;

		a {
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

.form-wrap {
	max-width: 585px;
}

.order-table {
	margin: 0 -17px;
	position: relative;
	padding-bottom: 90px;

	&:before {
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 10;
		content: '';
		width: 2px;
		display: block;
		position: absolute;
		background: rgba(255,255,255,0.1);
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.table-header {
		display: none;
	}

	.table-body {

		ul {

			li {
				width: 100%;
				display: table;

				i {
					font-weight: 400;
					font-size: 13px;
				}
			}

			b {
				width: 50%;
				color: #fff;
				font-size: 13px;
				font-weight: 700;
				line-height: 20px;
				position: relative;
				white-space: nowrap;
				display: table-cell;
				vertical-align: middle;
				text-transform: uppercase;
				padding: 10px 11px 12px 14px;

				&:before {
					z-index: 5;
					right: 0;
					bottom: 0;
					content: '';
					height: 2px;
					width: 1500px;
					display: block;
					position: absolute;
					background: rgba(255,255,255,0.1);
				}

				&:after {
					top: 0;
					left: 0;
					bottom: 0;
					z-index: 1;
					content: '';
					width: 1500px;
					display: block;
					margin-left: -1500px;
					position: absolute;
				}
			}

			span {
				width: 50%;
				color: #666;
				font-size: 15px;
				line-height: 20px;
				position: relative;
				display: table-cell;
				vertical-align: middle;
				padding: 10px 11px 12px 14px;

				&:before {
					left: 0;
					z-index: 5;
					bottom: 0;
					content: '';
					height: 2px;
					width: 2000px;
					display: block;
					position: absolute;
					background: rgba(0,0,0,0.05);
				}

				&:after {
					top: 0;
					right: 0;
					bottom: 0;
					z-index: 1;
					content: '';
					width: 1500px;
					display: block;
					margin-right: -1500px;
					position: absolute;
				}
			}

			&:nth-child(odd) {

				b {
					background: #444;

					&:after {
						background: #444;
					}
				}

				span {
					background: #eee;

					&:after {
						background: #eee;
					}
				}
			}

			&:nth-child(even) {

				b {
					background: #555;

					&:after {
						background: #555;
					}
				}

				span {
					background: #f6f6f6;

					&:after {
						background: #f6f6f6;
					}
				}
			}
		}
	}

	.table-footer {
		padding: 25px 0;
		@include clearfix();

		ul {
			width: 100%;
			display: table;

			li {
				width: 50%;
				font-size: 15px;
				line-height: 15px;
				display: table-cell;
				vertical-align: middle;
				padding: 7px 11px 7px 14px;

				&:first-child {

				}

				&:last-child {
					font-weight: 700;

					i {
						font-weight: 400;
					}
				}


			}
		}
	}

	.order-total {
		font-size: 20px;
		color: $color-orange;

		i {
			font-size: 16px;
		}
	}

	.order-checkout {
		padding: 0 17px;
	}

	.btn {
		width: 100%;
	}

	@media (min-width: $screen-sm-min) {
		margin: 0 -32px;
		padding-bottom: 60px;

		.table-header {
			display: block;
			position: relative;

			&:after,
			&:before{
				top: 0;
				bottom: 0;
				z-index: 1;
				content: '';
				width: 2000px;
				display: block;
				background: #444;
				position: absolute;
			}

			&:after {
				left: 0;
				margin-left: -2000px;
			}

			&:before {
				right: 0;
				margin-right: -2000px;
			}

			ul {
				width: 100%;
				display: table;
				position: relative;

				&:after,
				&:before {
					z-index: 5;
					top: 0;
					bottom: 0;
					content: '';
					width: 2px;
					display: block;
					position: absolute;
					background: rgba(255,255,255,0.1);
				}

				&:after {
					left: 0;
				}

				&:before {
					right: 0;
				}

				li {
					color: #fff;
					font-size: 13px;
					font-weight: 700;
					line-height: 20px;
					padding: 14px 20px;
					background: #444444;
					position: relative;
					text-transform: uppercase;
					display: table-cell;
					vertical-align: middle;

					&:before{
						top: 0;
						right: 0;
						bottom: 0;
						z-index: 1;
						content: '';
						width: 2px;
						display: block;
						position: absolute;
						background: rgba(255,255,255,0.1);
					}

					&:last-child {

						&:before {
							display: none;
						}
					}

					&:nth-child(2) {
						width: 100px;
					}

					&:nth-child(3) {
						width: 110px;
					}

					&:nth-child(4) {
						width: 95px;
					}

					&:nth-child(5) {
						width: 110px;
					}
				}
			}
		}

		.table-body {

			ul {
				width: 100%;
				display: table;
				position: relative;


				&:after,
				&:before {
					top: 0;
					bottom: 0;
					z-index: 1;
					content: '';
					width: 2000px;
					display: block;
					position: absolute;
				}

				&:after {
					left: 0;
					margin-left: -2000px;
				}

				&:before {
					right: 0;
					margin-right: -2000px;
				}

				li {
					color: #666;
					width: auto;
					padding: 14px 15px;
					font-size: 15px;
					line-height: 20px;
					display: table-cell;
					position: relative;

					&:before{
						top: 0;
						right: 0;
						bottom: 0;
						z-index: 1;
						content: '';
						width: 2px;
						display: block;
						position: absolute;
						background: rgba(0,0,0,0.05);
					}

					&:last-child {

						&:before {
							display: none;
						}
					}

					&:nth-child(2) {
						width: 100px;
					}

					&:nth-child(3) {
						width: 110px;
					}

					&:nth-child(4) {
						width: 95px;
					}

					&:nth-child(5) {
						width: 110px;
					}
				}

				&:nth-child(odd) {

					&:after,
					&:before {
						background: #f6f6f6;
					}

					li {
						background: #f6f6f6;
					}

					span {
						background: transparent;
					}
				}

				&:nth-child(even) {

					&:after,
					&:before {
						background: #eee;
					}

					li {
						background: #eee;
					}

					span {
						background: transparent;
					}
				}

				b {
					display: none;
				}

				span {
					padding: 0;
					display: inline;
					background: transparent;

					&:after,
					&:before {
						display: none;
					}
				}
			}
		}

		.table-footer {
			padding-left: 270px;

			ul {

				li {
					padding: 7px 0;

					&:first-child {
						width: auto;
					}

					&:last-child {
						width: 130px;
					}
				}
			}
		}


		.order-checkout {
			text-align: right;
			padding: 0 32px;
		}

		.btn {
			width: auto;
		}
	}

	@media (min-width: $screen-md-min) {

		.table-header {

			ul {

				li {
					padding: 20px 20px;

					&:nth-child(2) {
						width: 115px;
					}

					&:nth-child(3) {
						width: 154px;
					}

					&:nth-child(4) {
						width: 115px;
					}

					&:nth-child(5) {
						width: 156px;
					}
				}
			}
		}

		.table-body {

			ul {

				li {
					padding: 14px 20px;

					&:nth-child(2) {
						width: 115px;
					}

					&:nth-child(3) {
						width: 154px;
					}

					&:nth-child(4) {
						width: 115px;
					}

					&:nth-child(5) {
						width: 156px;
					}
				}
			}
		}

		.table-footer {
			padding-left: 520px;
		}
	}

	@media (min-width: $screen-lg-min) {

		.table-header {

			ul {

				li {
					padding: 20px 30px;

					&:nth-child(2) {
						width: 115px;
					}

					&:nth-child(3) {
						width: 154px;
					}

					&:nth-child(4) {
						width: 115px;
					}

					&:nth-child(5) {
						width: 156px;
					}
				}
			}
		}


		.table-body {

			ul {

				li {
					padding: 14px 30px;

					&:nth-child(2) {
						width: 115px;
					}

					&:nth-child(3) {
						width: 154px;
					}

					&:nth-child(4) {
						width: 115px;
					}

					&:nth-child(5) {
						width: 156px;
					}
				}
			}
		}

		.table-footer {
			padding-left: 830px;
		}
	}
}


@media (min-width: $screen-sm-min) {}

@media (min-width: $screen-md-min) {}

@media (min-width: $screen-lg-min) {}