.main-contact {
	position: relative;

	.inner {
		z-index: 20;
		width: 300px;
		margin: 0 auto;
		position: relative;

		&:after,
		&:before {
			top: 0;
			width: 2px;
			z-index: 50;
			content: '';
			height: 100%;
			position: absolute;
			background: #f2f2f2;
		}

		&:after {
			left: 0;
		}

		&:before {
			right: 0;
		}
	}

	.contact-title {
		color: #000;
		font-size: 13px;
		font-weight: 700;
		line-height: 15px;
		margin-bottom: 5px;
		text-transform: uppercase;
	}

	.contact {
		background: #fff;

		.contact-gallery {

			a {
				border: none;
				outline: none;
				display: block;
			}


			.slick-dots {
				bottom: 15px;
			}
		}

		.contact-body {
			font-size: 15px;
			line-height: 20px;
			padding: 25px 17px;

			p {
				margin-bottom: 25px;
			}
		}
	}

	.contact-map {
		height: 415px;
		position: relative;

		.map-border {
			z-index: 5;
			width: 300px;
			margin: 0 auto;
			position: relative;

			&:after,
			&:before {
				top: 0;
				width: 2px;
				z-index: 50;
				content: '';
				height: 415px;
				position: absolute;
				background: #f2f2f2;
			}

			&:after {
				left: 0;
			}

			&:before {
				right: 0;
			}
		}

		.map {
			z-index: 4;
			height: 100%;
			position: relative;

			&:before {
				top: 0;
				left: 0;
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
			}
		}
	}

	.contact-body {
		width: 100%;
		max-width: 100%;
		overflow: hidden;

		.contact-row {

		}

		.contact-wrap {
			width: 300px;
			margin: 0 auto;
			padding: 15px 17px;
			position: relative;

			&:after,
			&:before {
				top: 0;
				width: 2px;
				z-index: 50;
				content: '';
				height: 100%;
				position: absolute;
				background: #f2f2f2;
			}

			&:after {
				left: 0;
			}

			&:before {
				right: 0;
			}
		}

		.btn {
			width: 100%;
		}
	}

	.contact-phone-block {
		width: 100%;
		max-width: 100%;
		overflow: hidden;

		.contact-phone {
			width: 300px;
			margin: 0 auto;
			list-style: none;
			padding: 10px 17px;
			position: relative;

			&:after,
			&:before {
				top: 0;
				width: 2px;
				z-index: 50;
				content: '';
				height: 100%;
				position: absolute;
				background: #f2f2f2;
			}

			&:after {
				left: 0;
			}

			&:before {
				right: 0;
			}

			li {
				position: relative;
			}
		}

		.contact-title {
			margin-bottom: 10px;
		}

		p {
			color: #555;
			margin-bottom: 25px;
		}

		small {
			font-size: 13px;
			line-height: 13px;
			display: block;
		}

		a {
			color: $color-orange;
			display: inline-block;
			text-decoration: none;
			margin-bottom: 5px;

			&:hover {
				text-decoration: underline;
			}

			&.tel {
				color: #555;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}


	.contact-staff-block {
		width: 100%;
		max-width: 100%;
		overflow: hidden;
		background: #f6f6f6;

		.contact-staff {
			width: 300px;
			margin: 0 auto;
			list-style: none;
			overflow: hidden;
			padding: 25px 17px 0 17px;
			position: relative;

			&:after,
			&:before {
				top: 0;
				width: 2px;
				z-index: 50;
				content: '';
				height: 100%;
				position: absolute;
				background: #e9e9e9;
			}

			&:after {
				left: 0;
			}

			&:before {
				right: 0;
			}

			> li {
				position: relative;

				.staff-box {
					position: relative;
					padding-bottom: 35px;
				}
			}
		}


		.contact-title {
			margin-bottom: 10px;
		}

		p {
			color: #555;
			margin-bottom: 8px;
		}

		a {
			color: $color-orange;
			display: inline-block;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}

			&.tel {
				color: #555;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		.inner {
			width: 610px;
		}

		.contact {
			top: 0;
			left: 2px;
			width: 304px;
			height: 570px;
			position: absolute;

			.contact-body {
				padding: 25px 32px;
			}
		}

		.contact-map {
			height: 570px;

			.map-border {
				width: 610px;

				&:after,
				&:before {
					height: 570px;
				}
			}
		}

		.contact-body {

			.contact-wrap {
				width: 610px;
				padding: 15px 32px;
			}

			.form-btn {
				text-align: right;
				margin-bottom: 15px;
			}

			.btn {
				width: 244px;
			}
		}

		.contact-phone-block {

			.contact-phone {
				padding: 0;
				width: 610px;
				display: table;

				&:before {
					display: none;
				}

				li {
					width: 50%;
					padding: 25px 32px;
					display: table-cell;
					vertical-align: top;

					&:before {
						top: 0;
						right: 0;
						width: 2px;
						z-index: 50;
						content: '';
						height: 100%;
						position: absolute;
						background: #f2f2f2;
					}

					&:nth-child(3),
					&:nth-child(4) {
						display: none;
					}
				}
			}
		}

		.contact-staff-block {

			.contact-staff {
				padding:0;
				width: 610px;

				> li {
					float: left;
					width: 50%;

					.staff-box {
						position: relative;
						padding: 0 32px 35px 32px;
					}

					&:nth-child(1) {
						width: 100%;

						.staff-box {
							padding-top: 25px;
						}
					}

					&:nth-child(2) {

						&:before {
							top: 0;
							right: 0;
							width: 2px;
							z-index: 50;
							content: '';
							height: 100%;
							position: absolute;
							background: #e9e9e9;
						}
					}

					&:nth-child(4) {
						width: 100%;
						@include clearfix();

						.staff-box {
							width: 50%;
							float: left;

							&:first-child {

								&:before {
									top: 0;
									right: 0;
									width: 2px;
									z-index: 50;
									content: '';
									height: 100%;
									position: absolute;
									background: #e9e9e9;
								}
							}
						}
					}
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.inner {
			width: 915px;
		}

		.contact-map {

			.map-border {
				width: 915px;
			}
		}

		.contact-body {

			.contact-wrap {
				width: 915px;
			}
		}

		.contact-phone-block {

			.contact-phone {
				width: 915px;

				li {
					width: 305px;

					&:nth-child(3) {
						display: table-cell;
					}
				}
			}
		}

		.contact-staff-block {

			.contact-staff {
				width: 915px;

				> li {
					width: 305px;

					&:nth-child(1) {
						width: 305px;
					}

					&:nth-child(2) {
						padding-top: 25px;

						&:after {
							top: 0;
							left: -2px;
							width: 2px;
							z-index: 50;
							content: '';
							height: 100%;
							position: absolute;
							background: #e9e9e9;
						}
					}

					&:nth-child(3) {
						padding-top: 25px;
					}


					&:nth-child(4) {
						width: 610px;
						margin-left: 305px;

						.staff-box {

							&:first-child {

								&:after {
									top: 0;
									left: -2px;
									width: 2px;
									z-index: 50;
									content: '';
									height: 100%;
									position: absolute;
									background: #e9e9e9;
								}
							}
						}
					}

				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		.inner {
			width: 100%;
		}

		.contact-map {

			.map-border {
				width: 1220px;
			}
		}

		.contact-body {

			.contact-wrap {
				width: 100%;

				&:after,
				&:before {
					display: none;
				}
			}

			.contact-row {
				width: 100%;
				display: table;

				.contact-left {
					display: table-cell;
					vertical-align: top;
					position: relative;

					&:after{
						left: 0;
						top: 74px;
						width: 2px;
						z-index: 50;
						content: '';
						height: 100%;
						position: absolute;
						background: #f2f2f2;
					}

					.heading-gray {

						.border-wrap {

							&:before {
								display: none;
							}
						}
					}
				}

				.contact-right {
					width: 306px;
					display: table-cell;
					vertical-align: top;
					position: relative;

					.contact-wrap {
						padding-top: 30px;
					}


					&:after,
					&:before{
						top: 74px;
						width: 2px;
						z-index: 50;
						content: '';
						height: 100%;
						position: absolute;
						background: #f2f2f2;
					}

					&:after {
						left: 0;
					}

					&:before {
						right: 0;
					}
				}
			}

			textarea {
				height: 260px;
			}
		}

		.heading-gray {

			h4 {
				font-size: 17px;
			}
		}

		.contact-phone-block {

			.contact-phone {
				width: 100%;

				li {
					width: 25%;

					&:nth-child(4) {
						display: table-cell;
					}
				}
			}
		}

		.contact-staff-block {

			.contact-staff {
				width: 100%;

				> li {
					width: 25%;


					&:nth-child(1) {
						width: 25%;
					}

					&:nth-child(3) {

						&:before {
							top: 0;
							right: 0;
							width: 2px;
							z-index: 50;
							content: '';
							height: 100%;
							position: absolute;
							background: #e9e9e9;
						}
					}


					&:nth-child(4) {
						width: 25%;
						margin-left: 0;
						padding-top: 25px;

						.staff-box {
							width: 100%;
							height: 206px;

							&:last-child,
							&:first-child {

								&:after,
								&:before {
									display: none;
								}
							}
						}
					}
				}
			}
		}
	}
}
