// Лайки

.like{
	z-index: 50;
	position: absolute;
	width: 17px;
	height: 16px;

	svg {
		width: 100%;
		height: 100%;
	}


	.heart{
		width: 17px;
		height: 16px;
		display: inline-block;
		cursor: pointer;
		animation-duration: .45s;
		animation-timing-function: ease;
		animation-direction: alternate;

		svg{
			fill: #f2e8e2;
			color: transparent;
			stroke: #f2e8e2;
		}
	}

	&:hover {

		.heart {

			svg {
				fill: #efe3dc;
				color: #efe3dc;
				stroke: #efe3dc;
			}
		}
	}


	.layer {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 1;
		width: 100%;
		height: 100%;
		display: inline-block;
		transform: scale(0);
		pointer-events: none;

		svg{
			fill: #c25f28;
			color: #c25f28;
			stroke: #c25f28;
		}

	}


	.hackyBox{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;

		&:checked {

			~ .heart {
				animation-name: love;

				svg{
					fill: #c25f28;
					stroke: #c25f28;
				}

				&:hover {

					svg{
						fill: #c25f28;
						stroke: #c25f28;
					}
				}
			}

			~ .layer {
				transform: scale(1);
				opacity: 1;
				z-index: -1;
			}
		}

	}
}


@keyframes love {
	0% {
		transform: scale(1);
	}
	25%{
		transform: scale(0.94);
	}
	50%{
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

.rateStars-input {
	float: left;
	*zoom: 1;
	overflow: hidden;
	position: relative;

	input {
		top: 0;
		z-index: 0;
		opacity: 0;
		width: 20px;
		height: 20px;
		display: none;
		position: absolute;
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	}
	input:checked ~ label {
		height: 20px;
		width: 20px;
		color: #fec46e;
	}

	label {
		height: 20px;
		width: 20px;
		float: right;
		color: #fff;
		padding: 2px 0;
		font-size: 16px;
		line-height: 16px;
		cursor: pointer;
		text-align: center;
		margin-right: 10px;
		position: relative;
		z-index: 1;
	}

	label:hover,
	label:hover ~ label {
		height: 20px;
		width: 20px;
		color: #fec46e;
	}

	#star-0 {
		left: 0px;
	}

	#star-1 {
		left: 53px;
	}

	#star-2 {
		left: 106px;
	}

	#star-3 {
		left: 159px;
	}

	#star-4 {
		left: 212px;
	}
	#star-5 {
		left: 265px;
	}
}


.heading {
	background: #f6f6f6;

	.border-wrap {
		padding-top: 20px;
		padding-bottom: 25px;

		&:after,
		&:before {
			border-color: #e9e9e9;
		}
	}

	h1 {
		margin-bottom: 0;
	}

	.heading-return {
		font-size: 13px;
		line-height: 15px;
		margin-bottom: 15px;
		color: $color-orange;
		display: inline-block;
		text-decoration: none;

		i {
			margin-right: 5px;
		}

		span {
			text-decoration: underline;
		}

		&:hover {

			span {
				text-decoration: none;
			}
		}
	}

	.heading-action {
		padding: 0;
		list-style: none;
		@include clearfix();
		margin: 15px -15px 0 -15px;

		> li {
			float: left;
			padding: 0 15px;

			a {
				height: 27px;
				text-decoration: none;
				display: inline-block;

				.ico-svg {
					height: 27px;
					fill: $color-orange;
				}

				&:hover {

					.ico-svg {
						fill: $text-color;
					}
				}
			}
		}
	}

	.heading-product-cat {
		margin: 0 -5px;
		padding: 0;
		list-style: none;
		@include clearfix();

		> li {
			float: left;
			padding: 0 5px;

			a {
				color: #c26028;
				text-decoration: none;
				border-bottom: 1px dashed #c26028;

				&:hover {
					border-bottom-color: transparent;
				}
			}
		}
	}

	.heading-wrap {
		@include clearfix();

		h1 {
			margin-bottom: 10px;
		}
	}



	@media (min-width: $screen-sm-min) {

		.heading-action {
			right: 30px;
			bottom: 25px;
			position: absolute;
		}

		.heading-product-cat {
			margin: 0 -18px;

			> li {
				padding: 0 18px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.heading-wrap {

			h1 {
				float: left;
				margin-bottom: 0;
			}
		}

		.heading-product-cat {
			float: right;
			padding-top: 10px;
		}
	}
}

.second-heading {
	background: #f6f6f6;

	h3 {
		padding: 27px 0;
		font-size: 20px;
		font-weight: 700;
		line-height: 20px;
		margin-bottom: 0;
	}
}

.heading-block {
	position: relative;
	background: #f6f6f6;
	padding-top: 25px;
	padding-bottom: 25px;

	&:after,
	&:before {
		top: 0;
		bottom: 0;
		z-index: -1;
		content: '';
		width: 1000px;
		position: absolute;
		background: #f6f6f6;
	}

	&:after {
		left: -1000px;
	}

	&:before {
		right: -1000px;
	}

	h3 {
		line-height: 1;
		margin-bottom: 0;
	}

	h4 {
		line-height: 1;
		margin-bottom: 0;
	}
}

.heading-gray {
	position: relative;
	background: #f6f6f6;

	&:after,
	&:before {
		top: 0;
		bottom: 0;
		z-index: -1;
		content: '';
		width: 1000px;
		position: absolute;
		background: #f6f6f6;
	}

	&:after {
		left: -1000px;
	}

	&:before {
		right: -1000px;
	}

	.border-wrap {
		z-index: 5;
		padding-top: 25px;
		padding-bottom: 25px;

		&:after,
		&:before {
			border-color: #e9e9e9;
		}
	}

	h3 {
		line-height: 1;
		margin-bottom: 0;
	}

	h4 {
		font-size: 20px;
		font-weight: 600;
		line-height: 24px;
		margin-bottom: 0;
	}
}

.heading-second {
	padding: 27px 0;
	position: relative;
	background: #f6f6f6;

	&:after,
	&:before {
		top: 0;
		bottom: 0;
		z-index: -1;
		content: '';
		width: 1000px;
		position: absolute;
		background: #f6f6f6;
	}

	&:after {
		left: -1000px;
	}

	&:before {
		right: -1000px;
	}


	h3 {
		line-height: 1;
		margin-bottom: 0;
	}

	h4 {
		font-size: 20px;
		font-weight: 600;
		line-height: 24px;
		margin-bottom: 0;
	}
}

.heading-dark {
	color: #fff;
	font-size: 15px;
	line-height: 20px;
	position: relative;
	background: #333;

	&:after,
	&:before {
		top: 0;
		bottom: 0;
		z-index: -1;
		content: '';
		width: 1000px;
		position: absolute;
		background: #333;
	}

	&:after {
		left: -1000px;
	}

	&:before {
		right: -1000px;
	}

	.border-wrap {
		z-index: 5;
		padding-top: 25px;
		padding-bottom: 25px;

		&:after,
		&:before {
			background: #424242;
		}
	}
}

.heading-nav {
	overflow: hidden;
	max-width: 100%;
	position: relative;
	background: #f6f6f6;

	&:before {
		z-index: 1;
		content: '';
		height: 2px;
		bottom: 0;
		left: -1000;
		width: 3600px;
		position: absolute;
		background: #efe3dd;
	}

	ul {
		width: 300px;
		padding: 0;
		margin: 0 auto;
		list-style: none;
		overflow: hidden;
		position: relative;

		li {

			a {
				z-index: 5;
				width: 100%;
				font-size: 15px;
				line-height: 21px;
				padding: 10px 20px;
				text-align: center;
				color: $color-orange;
				display: inline-block;
				text-decoration: none;
				position: relative;
				background: transparent;
				border: 2px solid #efe3dc;
				border-bottom: none;

				&:hover {
					background: #efe3dc;
					border-color: #efe3dc;
				}
			}

			&:last-child {

				a {
					border-bottom: 2px solid #efe3dd;

					&:hover {
					//	border-bottom-color: #b85a26;
					}
				}

				&.active {

					a {
						border-bottom-color: $color-orange;
					}
				}
			}

			&.active {

				a {
					color: #fff;
					background: $color-orange;
					border-color: #b85a26;
				}

			}
		}
	}

	@media (min-width: $screen-sm-min) {

		ul {
			width: 610px;
			padding: 0 35px;

			&:after,
			&:before {
				top: 0;
				width: 2px;
				z-index: 50;
				content: '';
				height: 100%;
				position: absolute;
				background: #e9e9e9;
			}

			&:after {
				left: 0;
			}

			&:before {
				right: 0;
			}

			li {
				float: left;

				a {
					width: auto;
					border-left-width: 1px;
					border-right-width: 1px;
					border-bottom: 2px solid #efe3dd;
				}

				&:first-child {

					a {

					}
				}

				&:last-child {

					a {
						border-right-width: 2px;
						border-bottom: 2px solid #efe3dd;
					}

					&.active {

						a {
							border-color: #b85a26;
						}
					}
				}
			}
		}
	}


	@media (min-width: $screen-md-min) {

		ul {
			width: 915px;
		}
	}

	@media (min-width: $screen-lg-min) {

		ul {
			width: 100%;
		}
	}
}

.breadcrumbs {
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	margin: 0 0 15px 0;

	li {
		color: #aaa;
		font-size: 13px;
		line-height: 15px;
		display: inline-block;

		&:after {
			content: '/';
			padding: 0 5px;
		}

		&:last-child {

			&:after {
				display: none;
			}
		}

		a {
			color: $color-orange;
		}
	}
}


.pt25 {
	padding-top: 25px;
}

.text {
	padding: 25px 0;
}

.table-striped {
	width: 300px;
	margin: 0 auto;

	th {
		width: 50%;
		color: #fff;
		font-size: 13px;
		font-weight: 700;
		line-height: 19px;
		padding: 15px 25px;
		background: #444;
		text-transform: uppercase;
		border: 2px solid #4e4e4e;
		border-bottom: none;
		border-top: none;
		position: relative;

		&:before {
			top: 0;
			z-index: -1;
			left: -2000px;
			content: '';
			width: 5000px;
			height: 100%;
			position: absolute;
			background: #444;
		}
	}

	td {
		font-size: 15px;
		padding: 25px 15px;
		line-height: 20px;
		position: relative;
		border: 2px solid #e9e9e9;
		border-bottom: none;
		border-top: none;

		&:before {
			top: 0;
			z-index: -1;
			left: -2000px;
			content: '';
			width: 5000px;
			height: 100%;
			position: absolute;
		}
	}

	tr {
		&:nth-child(odd) {

			td {
				background: #f6f6f6;

				&:before {
					background: #f6f6f6;
				}
			}
		}
		&:nth-child(even) {

			td {
				background: #eee;
				border-color: #e2e2e2;

				&:before {
					background: #eee;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		width: 610px;

		th {
			padding: 25px 30px;
		}

		td {
			padding: 25px 30px;
		}
	}

	@media (min-width: $screen-md-min) {
		width: 915px;
	}

	@media (min-width: $screen-lg-min) {
		width: 100%;
	}
}


.content-wrap {
	padding: 25px 0;

	.radio-info {
		color: #999;
	}
}


.color-orange {
	color: $color-orange;
}

