.footer {
	color: #fff;
	width: 100%;
	max-width: 100%;
	background: #444;
	overflow: hidden;

	.inner {
		width: 300px;
		margin: 0 auto;
		position: relative;

		&:after,
		&:before {
			top: 0;
			width: 2px;
			z-index: 50;
			content: '';
			height: 100%;
			position: absolute;
		}

		&:after {
			left: 0;
		}

		&:before {
			right: 0;
		}
	}

	.footer-top {

		.inner {

			&:after,
			&:before {
				background: #4e4e4e;
			}
		}
	}

	.footer-bottom {
		background: #333;
		position: relative;

		&:before {
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			content: '';
			height: 74px;
			position: absolute;
			background: #383838;
		}

		.inner {
			z-index: 5;
			position: relative;

			&:after,
			&:before {
				background: #3d3d3d;
			}
		}
	}

	.tile-top {
		margin: 0;
		padding: 0;
		list-style: none;
		@include clearfix();

		> li {
			padding: 25px 32px;
			position: relative;

			&:before {
				content: '';
				height: 2px;
				bottom: -1px;
				left: -800px;
				right: -800px;
				position: absolute;
				background: #4e4e4e;
			}
		}
	}

	.tile-bottom {
		margin: 0;
		padding: 0;
		list-style: none;
		@include clearfix();

		> li {
			padding: 25px 32px;
			position: relative;

			&:nth-child(1) {

				&:before {
					content: '';
					height: 2px;
					bottom: -1px;
					left: -250px;
					right: -250px;
					position: absolute;
					background: #424242;
				}
			}

			&:last-child {
				text-align: center;
			}
		}
	}

	.h4 {
		color: #fec46e;
		font-size: 13px;
		font-weight: 700;
		line-height: 20px;
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	.contact-phone {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			font-size: 15px;
			font-weight: 700;
			line-height: 20px;
			margin-bottom: 20px;

			a {
				color: #fff;
			}
		}
	}

	.address {
		color: #ccc;
		font-size: 13px;
		line-height: 20px;
	}

	.footer-nav {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			font-size: 13px;
			line-height: 15px;
			padding-left: 15px;
			margin-bottom: 25px;
			position: relative;

			&:before {
				left: 0;
				top: 5px;
				width: 5px;
				height: 5px;
				content: '';
				position: absolute;
				background: #fec46e;
				@include rotate(45deg);
			}

			&:last-child {
				margin-bottom: 0;
			}

			a {
				color: #fec46e;
				text-decoration: underline;

				&:hover {
					color: #c26028;
					text-decoration: none;
				}
			}
		}
	}

	.info-nav {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			font-size: 13px;
			font-weight: 700;
			line-height: 15px;
			margin-bottom: 25px;
			text-transform: uppercase;

			a {
				color: #fec46e;

				&:hover {
					color: #c26028;
					text-decoration: underline;
				}
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.contact-social {
		@include clearfix();

		> li {
			margin-bottom: 10px;
		}

		.h4 {
			color: #fff;
			margin-bottom: 15px;
		}

		.social {
			padding: 0;
			list-style: none;
			margin: 0 -12px 20px -12px;
			@include clearfix();

			> li {
				float: left;
				padding: 0 12px;

				a {
					width: 30px;
					height: 30px;
					padding: 6px 0;
					color: #fcc36d;
					font-size: 14px;
					line-height: 14px;
					text-align: center;
					display: inline-block;
					text-decoration: none;
					border: 2px solid #6b532e;
					@include rotate(45deg);

					i {
						@include rotate(-45deg);
					}

					&:hover {
						background: #6b532e;
					}

					&:active {
						background: #524023;
						border-color: #524023;
					}
				}
			}
		}


		.portal-logo {
			color: #ccc;
			height: 60px;
			font-size: 13px;
			line-height: 20px;
			padding-left: 75px;
			text-decoration: none;
			background: url("../img/portal_logo.png") 0 50% no-repeat;
			@include flexbox();

			span {
				margin: auto 0;
				display: inline-block;
			}

			&:hover {
				color: #fff;
			}
		}
	}

	.footer-buttons {
		margin: 0;
		padding: 0;
		list-style: none;
		@include clearfix();

		> li {
			padding: 5px 0;
		}

		.btn {
			width: 100%;
		}
	}

	.footer-subscribe {
		margin: 0;
		margin: 0 -30px;
		list-style: none;
		padding: 25px 0 5px 0;
		@include clearfix();

		.subscribe-title {
			color: #fff;
			font-size: 13px;
			line-height: 21px;
			background: #484848;
			padding: 12px 10px 12px 30px;
		}

		.subscribe-form {
			position: relative;

			input[type='text'] {
				margin: 0;
				width: 100%;
				color: #999;
				border: none;
				outline: none;
				font-size: 13px;
				line-height: 21px;
				padding: 12px 33px;
				background: #ffffff;
				display: inline-block;
				@include placeholder(#999);

				&::-ms-clear {
					display: none;
					width: 0;
					height: 0;
				}

				&:focus {
					@include placeholder(transparent);
				}
			}

			button {
				top: 0;
				right: 0;
				margin: 0;
				width: 45px;
				height: 45px;
				border: none;
				font-size: 0;
				line-height: 0;
				outline: none;
				padding: 12px 0;
				text-align: center;
				position: absolute;
				background: #fec46e;
				display: inline-block;

				.ico-svg {
					fill: #fff;
					height: 21px;
				}

				&:hover {
					background: #c26028;
				}
			}
		}
	}

	.footer-copy {
		font-size: 11px;
		line-height: 18px;

		span {
			color: #666;
			display: block;
		}
	}

	.footer-rate {
		@include clearfix();

		span {
			float: left;
			color: #ccc;
			display: block;
			font-size: 13px;
			line-height: 15px;
			padding-bottom: 5px;
			margin: 0 -15px 0 0;
		}
	}

	.footer-dev {
		color: #ccc;
		font-size: 13px;
		line-height: 20px;
		display: inline-block;
		text-decoration: none;
		padding: 2px 33px 2px 0;
		background: url("../img/logo_dev.png") 100% 50% no-repeat;
	}

	@media (min-width: $screen-sm-min) {

		.inner {
			width: 610px;
		}

		.tile-top {

			> li {
				width: 100%;
				padding: 0;
				float: left;

				&:nth-child(1) {
					width: 50%;
					height: 370px;
					padding: 45px 32px 25px 32px;
					border-right: 2px solid #4e4e4e;

					&:before {
						display: none;
					}
				}

				&:nth-child(2) {
					width: 50%;
					height: 370px;
					padding: 45px 32px 25px 32px;
				}

				&:nth-child(3) {
					width: 50%;
					height: 230px;
					padding: 25px 32px 25px 32px;
					border-right: 2px solid #4e4e4e;
				}

				&:nth-child(4) {
					width: 50%;
					height: 230px;
					padding: 25px 32px 25px 32px;
					border-right: 2px solid #4e4e4e;

					&:before {
						display: none;
					}
				}


				&:nth-child(5) {

					&:before {
						display: none;
					}
				}
			}
		}


		.tile-bottom {

			> li {
				width: 50%;
				float: left;
				border-right: 2px solid #424242;

				&:nth-child(1) {

					&:before {
						display: none;
					}
				}

				&:nth-child(1),
				&:nth-child(2) {
					height: 94px;
				}

				&:last-child {
					width: 100%;
				}
			}
		}

		.contact-social {

			> li {
				margin-bottom: 20px;
			}
		}

		.footer-buttons {

			> li {
				width: 50%;
				float: left;
				padding: 30px 30px 25px 30px;
				border-right: 2px solid #4e4e4e;
			}
		}

		.footer-subscribe {
			margin: 0;
			padding:0;

			> li {
				width: 50%;
				float: left;
				padding-bottom: 30px;
				border-right: 2px solid #4e4e4e;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.inner {
			width: 915px;
		}

		.tile-top {

			> li {

				&:nth-child(1) {
					width: 33.33%;
				}

				&:nth-child(2) {
					width: 33.33%;
					border-right: 2px solid #4e4e4e;
				}

				&:nth-child(3) {
					width: 33.33%;
					height: 370px;
					display: block;
					padding: 45px 32px 25px 32px;
				}

				&:nth-child(4) {
					height: 220px;
					width: 33.33%;
					padding: 27px 32px;
					border-right: 2px solid #4e4e4e;

					&:before {
						display: none;
					}
				}

				&:nth-child(5) {
					width: 66.66%;
				}
			}
		}

		.tile-bottom {

			> li {
				width: 50%;
				border-right: 2px solid #424242;

				&:nth-child(1) {
					width: 33.33%;
					padding-top: 20px;
				}

				&:nth-child(2) {
					width: 66.66%;
				}

				&:nth-child(1),
				&:nth-child(2) {
					height: 70px;

				}

				&:last-child {
					width: 100%;
				}
			}
		}

		.contact-social {

			> li {
				padding: 0;
				width: 100%;
				float: left;
				height: auto;
				border-right: none;

				&:last-child {
					padding-top: 20px;
				}
			}

			.social {
				margin-bottom: 15px;
			}
		}

		.footer-buttons {

			> li {
				padding: 65px 30px 27px 30px;

				&:last-child {
					border-right: none;
				}
			}
		}

		.footer-subscribe {

			> li {
				padding-bottom: 39px;

			}
		}

		.footer-rate {

			span {
				float: left;
				padding: 2px 80px 3px 0;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;

		.inner {
			width: 100%;
		}

		.footer-bottom {

			&:before {
				display: none;
			}
		}

		.tile-top {

			> li {

				&:before {
					display: none;
				}

				&:nth-child(1) {
					width: 25%;
					height: 240px;
					padding-top: 40px;
				}

				&:nth-child(2) {
					width: 25%;
					height: 240px;
					padding-top: 40px;
				}

				&:nth-child(3) {
					width: 25%;
					height: 240px;
					padding-top: 40px;
					border-right: 2px solid #4e4e4e;
				}

				&:nth-child(4) {
					height: 240px;
					width: 25%;
					padding-top: 40px;


					&:before {
						display: none;
					}
				}

				&:nth-child(5) {
					width: 100%;
				}
			}
		}

		.tile-bottom {

			> li {
				width: 25%;

				&:nth-child(1) {
					width: 25%;
					padding-top: 20px;
				}

				&:nth-child(2) {
					width: 50%;
					background: #383838;
					border-right: 2px solid #424242;
				}

				&:nth-child(1),
				&:nth-child(2) {
					height: 70px;
				}

				&:last-child {
					width: 25%;
					height: 70px;
				}
			}
		}

		.contact-phone {
			margin-bottom: 20px;

			li {
				margin-bottom: 0;
			}
		}

		.footer-nav {

			> li {
				margin-bottom: 5px;
			}
		}

		.contact-social {

			> li {

				&:last-child {
					padding-top: 15px;
				}
			}

			.h4 {
				margin-bottom: 30px;
			}

			.social {
				margin-bottom: 20px;
			}
		}

		.footer-buttons {
			width: 50%;
			float: left;

			> li {
				padding: 20px 30px 45px 30px;

				&:last-child {
					border-right: 2px solid #4e4e4e;
				}
			}
		}

		.footer-subscribe {
			width: 50%;
			float: left;

			> li {
				padding: 20px 0 45px 0;

			}
		}
	}
}
