.goods {

	.inner {
		width: 300px;
		margin: 0 auto;
		position: relative;

		&:after,
		&:before {
			top: 0;
			width: 2px;
			z-index: 50;
			content: '';
			height: 100%;
			position: absolute;
			background: rgba(51,51,51,0.05);
		}

		&:after {
			left: 0;
		}

		&:before {
			right: 0;
		}
	}

	.goods-heading {
		left: 30px;
		top: 40px;
		z-index: 30;
		color: #c26028;
		font-size: 13px;
		font-weight: 700;
		line-height: 20px;
		margin-bottom: 25px;
		position: absolute;
		text-transform: uppercase;

		a {
			color: #c26028;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.goods-slider {
		margin: 0;
		position: relative;

		.goods-slider-item {
			border: none;
			outline: none;
			border-right: 2px solid transparent
		}

		.slide-nav {
			top: 33px;

			&.prev {
				right: 74px;
			}

			&.next {
				right: 27px;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.inner {
			width: 610px;
		}

		.goods-heading {
			left: auto;
			right: 190px;
		}


		.goods-slider {

			.goods-slider-item {
				border-right-color: #f5f5f5;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.inner {
			width: 915px;
		}
	}

	@media (min-width: $screen-lg-min) {

		.inner {
			width: 100%;
		}
	}
}

.goods-item {
	color: #333;
	height: 340px;
	display: block;
	background: #fff;
	position: relative;
	text-decoration: none;
	padding: 85px 30px 60px 30px;

	&:before {
		left: 32px;
		bottom: 65px;
		content: '';
		width: 14px;
		height: 12px;
		position: absolute;
		background: url('../img/icon_arrow_right_black.png') 0 0 no-repeat;
	}

	.goods-icon {
		margin-bottom: 20px;

		.ico-svg {
			fill: #000;
			height: 72px;
		}
	}

	h4 {
		color: #333;
		font-size: 20px;
		font-weight: 600;
		line-height: 20px;
		margin-bottom: 5px;
	}

	p {
		color: #999;
		font-size: 13px;
		line-height: 20px;
		margin-bottom: 0;
	}

	&:hover {
		background: #e8e8e8;
		text-decoration: none;
	}
}