.header {
	z-index: 1100;
	color: #fff;
	max-width: 100%;
	background: #333;
	position: relative;
	border-top: 55px solid #383838;

	&:hover {
	//	z-index: 1250;
	}

	&:before {
		right: 0;
		bottom: 0;
		width: 50%;
		height: 100%;
		content: ' ';
		background: #fff;
		position: absolute;
	}

	.container {
		z-index: 5;
	}

	.header-tile {
		width: 300px;
		margin: 0 auto;
		padding: 0;
		z-index: 10;
		font-size: 0;
		line-height: 0;
		list-style: none;
		position: relative;
		@include clearfix();

		> li {
			z-index: 1;
			position: relative;

			&:nth-child(1) {
				float: left;
				width: 54px;
				border-left: 2px solid #444;
				border-right: 2px solid #444;

				&:hover {
					z-index: 50;
				}
			}

			&:nth-child(2) {
				float: left;
				width: 100px;
				border-right: 2px solid #444;
			}

			&:nth-child(3) {
				left: 0;
				top: -55px;
				position: absolute;
			}

			&:nth-child(4) {
				display: none;
			}

			&:nth-child(5) {
				top: -55px;
				left: 154px;
				width: 146px;
				position: absolute;
				border-right: 2px solid #444;
			}

			&:nth-child(6) {
				float: left;
				width: 49px;
				border-right: 2px solid #444;
			}

			&:nth-child(7) {
				float: left;
				width: 47px;
			}

			&:nth-child(8) {
				float: left;
				width: 50px;
				z-index: 10;
				background: #fff;
				border-right: 2px solid #f2f2f2;
			}
		}
	}

	.header-nav {
		z-index: 100;
		width: 100%;
		height: 64px;
		font-size: 0;
		line-height: 0;
		display: block;
		padding-top: 26px;
		text-align: center;
		position: relative;
		text-decoration: none;

		span {
			width: 14px;
			height: 2px;
			display: block;
			background: #fff;
			margin: 0 auto 3px auto;
		}

		&:hover {
			background: #444;
		}
	}

	.header-nav-toggle {
		z-index: 100;
		width: 100%;
		height: 64px;
		font-size: 0;
		line-height: 0;
		display: none;
		padding-top: 26px;
		text-align: center;
		position: relative;
		text-decoration: none;

		span {
			width: 14px;
			height: 2px;
			display: block;
			background: #fff;
			margin: 0 auto 3px auto;
		}

		&:hover {
			background: #444;
		}
	}

	.navbar-bg {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 50;
		position: fixed;
		visibility: hidden;
		background: rgba(51,51,51,0.5);
		@include opacity(0);
		@include transition(0.3s);

		&.open {
			visibility: visible;
			@include opacity(1);
			@include transition(0.3s);
		}
	}

	.header-logo {
		width: 100%;
		height: 64px;
		display: block;
		background: #333;
		padding: 15px 15px 0 15px;
	}

	.header-contact {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		overflow: hidden;
		border-left: 2px solid #444444;

		> li {
			float: left;
			border-right: 2px solid #444444;

			&:first-child {
				width: 52px;
				@include clearfix();
			}

			&:last-child {
				width: 100px;
				height: 55px;
				padding: 12px 0 0 15px;
			}

			.header-phone-icon {
				width: 100%;
				height: 55px;
				padding-top: 19px;
				text-decoration: none;
				display: block;
				text-align: center;

				.ico-svg {
					fill: #fff;
					height: 19px;
				}
			}

			.header-phone-text {
				color: #fff;
				display: none;
				font-size: 13px;
				font-weight: 700;
				line-height: 15px;
			}

			.header-callback {
				color: #fec46e;
				font-size: 13px;
				line-height: 14px;
				text-decoration: none;
				border-bottom: 1px dashed #fec46e;

				&:hover {
					border-bottom-color: transparent;
				}
			}
		}
	}

	.header-address {
		margin: 0;
		padding: 11px 0;
		list-style: none;
		@include clearfix();

		> li {
			color: #fff;
			font-size: 13px;
			line-height: 15px;
			display: inline-block;
			margin-right: 35px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.header-manager {
		width: 100%;
		height: 55px;
		display: block;
		color: #fec46e;
		font-size: 13px;
		line-height: 15px;
		text-decoration: none;
		padding: 12px 0 0 12px;

		&:hover {
			background: #444;
		}
	}

	.header-enter {
		width: 100%;
		height: 64px;
		background: #333;
		padding-top: 22px;
		text-decoration: none;
		display: inline-block;
		text-align: center;
		position: relative;

		.ico-svg {
			fill: #fff;
			height: 21px;
		}

		&:hover {
			background: #444;
		}
	}

	.header-favorites {
		width: 100%;
		height: 64px;
		font-size: 0;
		line-height: 0;
		display: block;
		background: #333;
		padding-top: 24px;
		text-align: center;
		position: relative;
		text-decoration: none;

		i {
			margin-left: -3px;
			position: relative;
			font-style: normal;
			display: inline-block;

			.ico-svg {
				height: 19px;
				fill: #fff;
			}

			.header-favorites-value {
				top: -7px;
				right: -10px;
				color: #fff;
				width: 19px;
				height: 19px;
				padding: 2px 0;
				font-size: 13px;
				line-height: 15px;
				position: absolute;
				text-align: center;
				display: inline-block;
				background: $color-orange;
				@include border-radius(50%);
			}
		}

		&:hover {
			background: #444;
		}
	}

	.header-dropdown {
		top: 100%;
		left: 50%;
		color: #666;
		width: 100px;
		z-index: 200;
		display: none;
		font-size: 13px;
		padding: 7px 10px;
		line-height: 16px;
		margin-left: -50px;
		position: absolute;
		text-align: center;
		background: #f6f6f6;

		&:before {
			top: -10px;
			left: 45px;
			width: 10px;
			height: 10px;
			content: ' ';
			position: absolute;
			background: url("../img/icon_like_arrow.png") 0 0 no-repeat;
		}
	}

	.header-basket {
		cursor: pointer;
		background: #fff;
		position: relative;
		@include clearfix();

		.header-basket-icon {
			width: 100%;
			height: 64px;
			font-size: 0;
			line-height: 0;
			display: block;
			position: relative;
			padding-top: 24px;
			text-align: center;
			text-decoration: none;

			i {
				margin-left: -3px;
				position: relative;
				font-style: normal;
				display: inline-block;

				.ico-svg {
					height: 25px;
					fill: #333;
				}

				.header-basket-value {
					top: -7px;
					right: -10px;
					color: #fff;
					width: 19px;
					height: 19px;
					padding: 2px 0;
					font-size: 13px;
					line-height: 15px;
					position: absolute;
					text-align: center;
					display: inline-block;
					background: $color-orange;
					@include border-radius(50%);
				}

				.header-basket-text {
					display: none;
				}
			}
		}

		.header-basket-text {
			display: none;
		}
	}

	.header-nav-btn {
		top:0;
		left: 0;
		color: #fff;
		height: 74px;
		width: 130px;
		display: none;
		cursor: pointer;
		font-size: 13px;
		font-weight: 700;
		line-height: 13px;
		position: absolute;
		text-transform: uppercase;

		&:hover {
			background: #444;
		}

		span {
			top: 32px;
			left: 30px;
			width: 15px;
			display: block;

			b {
				width: 15px;
				height: 2px;
				background: #fff;
				display: block;
				position: absolute;
				margin-bottom: 3px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		border-top-width: 37px;

		.header-tile {
			width: 610px;

			> li {

				&:nth-child(1) {
					width: 78px;
				}

				&:nth-child(2) {
					width: 136px;
				}

				&:nth-child(3) {
					top: -37px;
				}

				&:nth-child(4) {
					top: -37px;
					left: 345px;
					width: 265px;
					display: block;
					position: absolute;
					border-right: 2px solid #444;
				}

				&:nth-child(5) {
					top: auto;
					left: auto;
					float: left;
					width: 172px;
					background: #333;
					position: inherit;
				}

				&:nth-child(6) {
					width: 76px;
				}

				&:nth-child(7) {
					width: 74px;
				}

				&:nth-child(8) {
					width: 74px;
				}

			}
		}

		.header-nav {
			height: 74px;
			padding-top: 30px;
		}

		.header-nav-toggle {
			height: 74px;
			padding-top: 30px;
		}

		.header-logo {
			height: 74px;
			padding: 20px 30px 0 30px;
		}

		.header-contact {
			padding: 11px 0;

			> li {
				padding-left: 28px;
				border-right: none;

				&:first-child {
					width: auto;
				}

				&:last-child {
					width: auto;
					height: auto;
					padding: 0 0 0 28px;
				}

				.header-phone-icon {
					display: none;
				}

				.header-phone-text {
					display: inline-block;
				}
			}
		}

		.header-manager {
			height: 74px;
			padding: 20px 0 0 30px;
		}

		.header-enter {
			height: 74px;
			padding-top: 26px;
		}

		.header-favorites {
			height: 74px;
			display: block;
			padding-top: 27px;

			i {
				margin-left: 0;
			}
		}

		.header-basket {

			.header-basket-icon {
				height: 74px;
				padding-top: 28px;

				i {
					margin-left: 0;
				}
			}
		}

	}

	@media (min-width: $screen-md-min) {
		border-top: none;

		.header-tile {
			width: 915px;

			> li {

				&:nth-child(2) {
					width: 130px;
					border-right: none;
				}

				&:nth-child(3) {
					top: auto;
					left: auto;
					float: left;
					width: 136px;
					position: inherit;
				}

				&:nth-child(4) {
					top: auto;
					left: auto;
					float: left;
					width: 175px;
					background: #333;
					position: inherit;
				}
			}
		}

		.header-contact {
			padding: 20px 0 0 0;
			border-left: none;


			> li {
				float: none;
				padding-left: 0;
				border-right: none;

				&:first-child {
					border-left: none;
				}

				&:last-child {
					padding: 0 0 0 5px;
				}
			}
		}

		.header-address {
			height: 74px;
			background: #333;
			padding: 20px 0 0 0;

			> li {
				display: block;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&:hover {
			z-index: 1300;
		}

		&.open-basket {
			z-index: 1300;
		}

		.header-tile {
			width: 100%;

			> li {

				&:nth-child(1) {
					display: none;
				}

				&:nth-child(2) {
					width: 174px;
					border-left: 2px solid #444;
				}

				&:nth-child(3) {
					width: 200px;
				}

				&:nth-child(4) {
					width: 170px;
				}

				&:nth-child(5) {
					width: 196px;
				}

				&:nth-child(6) {
					width: 88px;
				}

				&:nth-child(7) {
					width: 90px;
				}

				&:nth-child(8) {
					width: 302px;
				}
			}
		}

		.header-logo {
			height: 85px;
			padding: 18px 45px 0 30px;
		}

		.header-contact {
			height: 85px;
			padding: 20px 0 0 0;

			> li {

				.header-phone-text {
					font-size: 18px;
					line-height: 20px;
				}

				.header-callback {
					font-size: 15px;
					line-height: 20px;
				}
			}
		}

		.header-address {
			height: 85px;

			> li {
				font-size: 15px;
				line-height: 20px;
			}
		}

		.header-manager {
			height: 85px;
			font-size: 15px;
			line-height: 20px;
			padding: 20px 0 0 30px;
		}

		.header-enter {
			height: 85px;
			padding-top: 30px;

			.ico-svg {
				height: 27px;
			}

			&:hover {

				.header-dropdown {
					display: block;
				}
			}
		}

		.header-favorites {
			height: 85px;
			display: block;
			padding-top: 30px;

			i {

				.ico-svg {
					height: 26px;
				}
			}

			&:hover {

				.header-dropdown {
					display: block;
				}
			}
		}

		.header-basket {

			.header-basket-icon {
				float: left;
				width: 100px;
				height: 85px;
				padding-top: 30px;

				i {

					.ico-svg {
						height: 25px;
					}
				}
			}

			&:hover {

				.header-basket-text {

					.icon-down {
						background: #efe3dc;
						@include transition(.3s);
					}
				}
			}

			&:active {

				.header-basket-text {

					.icon-down {
						background: #fff2eb;
						@include transition(.3s);
					}
				}
			}

			.header-basket-text {
				float: left;
				width: 200px;
				height: 85px;
				display: block;
				padding: 25px 0 45px 5px;

				p {
					color: #999;
					font-size: 15px;
					line-height: 20px;
					margin-bottom: 3px;

					strong {
						color: #333;
					}

					i {
						color: #333;
					}
				}

				a {
					color: #333;
					font-size: 13px;
					line-height: 15px;
					text-decoration: underline;

					&:hover {
						color: #c26028;
						text-decoration: none;
					}
				}

				.icon-down {
					top: 30px;
					right: 20px;
					width: 30px;
					height: 30px;
					color: #444;
					padding: 9px 0;
					text-align: center;
					font-size: 12px;
					line-height: 12px;
					position: absolute;
					@include border-radius(50%);
					@include transition(.3s);
				}
			}
		}
	}
}


@media (min-width: $screen-lg-min) {

	.fix-top {

		.header {
			top: 0;
			left: 0;
			right: 0;
			position: fixed;
			border-bottom: 2px solid #f6f6f6;
			display: block;

			.header-nav {
				display: none;
			}

			.header-nav-toggle {
				display: block;
			}

			.header-tile {

				> li {

					&:nth-child(1) {
						display: block;
					}

					&:nth-child(2) {
						width: 140px;
						border-left: none;
					}

					&:nth-child(3) {
						width: 190px;
					}

					&:nth-child(4) {
						width: 160px;
					}

					&:nth-child(5) {
						width: 196px;
					}

					&:nth-child(6) {
						width: 76px;
					}

					&:nth-child(7) {
						width: 78px;
					}

					&:nth-child(8) {
						width: 302px;
					}
				}
			}

			.header-logo {
				height: 74px;
				padding: 18px 30px 0 20px;
			}

			.header-contact {
				height: 74px;
				padding: 16px 0 0 0;
			}

			.header-address {
				height: 74px;
			}

			.header-manager {
				height: 74px;
				padding: 16px 0 0 30px;
			}

			.header-enter {
				height: 74px;
				padding-top: 25px;

				.ico-svg {
					height: 27px;
				}

				&:hover {

					.header-dropdown {
						display: block;
					}
				}
			}

			.header-favorites {
				height: 74px;
				display: block;
				padding-top: 25px;

				i {

					.ico-svg {
						height: 26px;
					}
				}

				&:hover {

					.header-dropdown {
						display: block;
					}
				}
			}

			.header-basket {

				.header-basket-icon {
					float: left;
					width: 100px;
					height: 74px;
					padding-top: 25px;

					i {

						.ico-svg {
							height: 25px;
						}
					}
				}

				.header-basket-text {
					float: left;
					width: 200px;
					height: 74px;
					display: block;
					padding: 20px 0 40px 5px;

					.icon-down {
						top: 30px;
						right: 20px;
						width: 30px;
						height: 30px;
					}
				}
			}
		}

		&.open-nav {

			.header {
				visibility: hidden;
				@include opacity(0);
			}
		}

		.mini-cart {

			.mini-cart-header {
				height: 74px;
				padding-top: 20px;
			}
		}
	}
}



.mini-cart-bg {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	z-index: 1190;
	position: fixed;
	visibility: hidden;
	@include opacity(0);
	background: rgba(51,51,51,0.5);
	@include transition(.3s);
}


.mini-cart {
	top: 0;
	right: 0;
	width: 300px;
	height: 100vh;
	z-index: 1200;
	background: #fff;
	margin-top: -55px;
	position: absolute;

	visibility: hidden;
	@include opacity(0);

	&:after {
		top: 0;
		left: 100%;
		width: 1000px;
		height: 100%;
		content: '';
		position: absolute;
		background: #fff;
	}

	&:before {
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 5;
		width: 2px;
		content: '';
		position: absolute;
		background: rgba(0,0,0,0.05);
	}

	.mini-cart-header {
		height: 85px;
		position: relative;
		background: #f6f6f6;
		padding: 30px 50px 10px 95px;

		&:before {
			top: 0;
			left: 100%;
			width: 1000px;
			height: 100%;
			content: '';
			position: absolute;
			background: #f6f6f6;
		}

		.mini-cart-icon {
			top: 30px;
			left: 25px;
			height: 25px;
			display: inline-block;
			position: absolute;

			.ico-svg {
				fill: #444;
				height: 25px;
			}

			.mini-cart-value {
				top: -7px;
				right: -10px;
				color: #fff;
				width: 19px;
				height: 19px;
				padding: 2px 0;
				font-size: 13px;
				line-height: 15px;
				position: absolute;
				text-align: center;
				display: inline-block;
				background: #c25f28;
				@include border-radius(50%);
			}
		}

		.mini-cart-text {
			color: #999;
			font-size: 15px;
			line-height: 20px;
			margin-bottom: 3px;

			strong {
				color: #333;
			}

			i {
				color: #333;
			}
		}

		.mini-cart-btn {
			color: #333;
			font-size: 13px;
			line-height: 15px;
			text-decoration: underline;

			&:hover {
				color: $color-orange;
			}
		}

		.mini-cart-close {
			top: 20px;
			right: 15px;
			width: 30px;
			height: 30px;
			color: #444;
			padding: 9px 0;
			text-align: center;
			font-size: 12px;
			line-height: 12px;
			position: absolute;
			@include border-radius(50%);
			@include transition(.3s);

			&:hover {
				background: #efe3dc;
				@include transition(.3s);
			}

			&:active {
				background: #fff2eb;
				@include transition(.3s);
			}
		}
	}

	.mini-cart-footer {
		left: 0;
		right: 0;
		bottom: 0;
		height: 77px;
		position: absolute;
		padding: 17px 15px 10px 15px;

		&:before {
			top: 0;
			left: 0;
			width: 1500px;
			z-index: 5;
			height: 2px;
			content: '';
			position: absolute;
			background: rgba(0,0,0,0.05);
		}

		.btn {
			width: 100%;
			text-transform: uppercase;
		}
	}

	.mini-card-content {
		left: 0;
		right: 0;
		top: 85px;
		bottom: 77px;
		background: #fff;
		position: absolute;

		.scroll-bar {
			background: transparent !important;
		}

		.mini-card-wrap {
			height: 100%;
			position: relative
		}

		.mini-card-scroll {
			height: 100%;
			background: #fff;
			position: relative;
		}
	}

	.mini-card-item {
		background: #fff;
		position: relative;
		padding-right: 10px;


		.card-item-close {
			top:8px;
			z-index: 50;
			right: 10px;
			width: 30px;
			height: 30px;
			cursor: pointer;
			position: absolute;
			@include border-radius(50%);

			&:hover {
				background: #efe3dc;
			}

			&:after,
			&:before {
				top: 50%;
				left: 50%;
				z-index: 1;
				width: 10px;
				height: 2px;
				content: '';
				background: #444;
				margin-top: -1px;
				margin-left: -5px;
				position: absolute;
			}

			&:after {
				@include rotate(-45deg);
			}

			&:before {
				@include rotate(45deg);
			}
		}


		&:last-child {

			.mini-card-row {

				&:before {
					display: none;
				}
			}
		}
	}

	.mini-card-row {
		margin: 0;
		z-index: 20;
		background: #fff;
		list-style: none;
		position: relative;
		padding: 13px 20px 15px 92px;

		&:before {
			left: 0;
			right: -10px;
			bottom: 0;
			z-index: 5;
			height: 2px;
			content: '';
			position: absolute;
			background: rgba(0,0,0,0.05);
		}

		> li {

			&:nth-child(1) {
				left: 20px;
				top: 13px;
				width: 60px;
				position: absolute;
			}

			&:nth-child(2) {
				margin-bottom: 10px;
			}

			&:nth-child(3) {
				margin-bottom: 10px;
			}

			&:nth-child(4) {
				margin-bottom: 10px;
			}
		}

		.mini-card-image {
			display: block;
		}

		.mini-card-name {
			color: #000;
			font-size: 15px;
			font-weight: 700;
			line-height: 19px;

			&:hover {
				color: $color-orange;
			}
		}

		.mini-card-color {
			max-width: 100%;
			position: relative;
			overflow: hidden;
			display: inline-block;
			padding: 2px 0 6px 32px;
			text-decoration: none !important;

			.product-color-type {
				top: 0;
				left: 0;
				width: 25px;
				height: 25px;
				position: absolute;
				display: inline-block;
				text-decoration: none !important;

				img {
					@include img-responsive(inline-block);
				}
			}

			.product-color-name {
				color: #333;
				font-size: 15px;
				line-height: 16px;
				white-space: nowrap;
				text-decoration: none !important;
				border-bottom: 1px dotted #333;

				&:hover {
					text-decoration: none !important;
				}
			}
		}

		.mini-card-price {

			.mini-card-price-source {
				color: #a8aeac;
				font-size: 13px;
				line-height: 20px;
				margin-right: 5px;
			}

			.mini-card-price-new {
				color: #000;
				font-size: 15px;
				line-height: 20px;

			}
		}
	}

	@media (min-width: $screen-sm-min) {
		margin-top: -37px;
	}

	@media (min-width: $screen-md-min) {
		margin-top: 0;
	}

	@media (min-width: $screen-lg-min) {

	}
}

.header-card-box {

	&.open {

		.mini-cart-bg {
			visibility: visible;
			@include opacity(1);
		}

		.mini-cart {
			visibility: visible;
			@include opacity(1);
		}
	}
}