.jumbotron {
	max-width: 100%;
	overflow: hidden;
	position: relative;
	background: #f6f6f6;

	.jumbotron-inner {
		width: 300px;
		margin: 0 auto;
		position: relative;

		.jumbotron-wrap {
			position: relative;

			&:after,
			&:before {
				top: 0;
				z-index: 1;
				width: 2px;
				content: '';
				height: 100%;
				position: absolute;
				background: rgba(255,255,255,0.1);
			}

			&:after {
				left: 0;
			}

			&:before {
				right: 0;
			}
		}
	}

	.jumbotron-image {

		.jumbotron-image-slider {
			position: relative;

			.slider-item {
				border: none;
				outline: none;
				height: 198px;
				overflow: hidden;
			}

			.slick-list {
				overflow: inherit;
			}
		}
	}


	.jumbotron-slider-wrap {
		padding: 0 12px;
		background: #f6f6f6;
		border-left: 2px solid #ececec;
		border-right: 2px solid #ececec;
	}

	.jumbotron-slider {

		.jumbotron-slider-item {
			border: none;
			outline: none;
		}

		.slider-item-col {
			padding: 30px 0 75px 0;
		}

		.h2 {
			font-size: 30px;
			line-height: 1;
			margin-bottom: 25px;
		}

		.text {
			color: #666;
			font-size: 15px;
			line-height: 20px;
			margin-bottom: 30px;
		}

		.btn {
			width: 100%;
		}

		.slick-dots {
			bottom: 30px;
		}

		.slide-nav {
			top: 50%;
			margin-top: -20px;
		}
	}

	@media (min-width: $screen-sm-min) {

		.jumbotron-inner {
			width: 610px;

			&:after,
			&:before {
				height: 350px;
			}
		}

		.jumbotron-image {

			.jumbotron-image-slider {

				.slider-item {
					height: 350px;
				}
			}
		}

		.jumbotron-slider-wrap {
			padding: 0 100px;
		}

		.jumbotron-slider {

			.slider-item-row {

			}

			.slider-item-col {
				padding: 80px 0 80px 0;
			}

			.btn {
				width: auto;
			}

			.slick-dots {
				right: -70px;
				bottom: 20px;
				text-align: right;
			}

			.slide-nav {

				&.prev {
					left: -65px;
				}

				&.next {
					right: -65px;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.jumbotron-inner {
			width: 915px;

			&:after,
			&:before {
				display: none;
			}
		}

		.jumbotron-image {
			width: 638px;
			height: 424px;
			overflow: hidden;
			margin-left: -181px;


			.jumbotron-image-slider {

				.slider-item {
					height: auto;
				}

				.slick-list {
					overflow: hidden;
				}
			}
		}

		.jumbotron-slider-wrap {
			top: 0;
			right: 0;
			width: 457px;
			height: 424px;
			position: absolute;
			border-left: none;
			padding: 0 100px 0 50px;
		}

		.jumbotron-slider {

			.slider-item-row {
				width: 100%;
				display: table;
				height: 423px;
			}

			.slider-item-col {
				padding: 0;
				display: table-cell;
				vertical-align: middle;
			}

			.slick-dots {
				right: -50px;
			}

			.slide-nav {

				&.prev {
					left: -465px;
				}

				&.next {
					right: -45px;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		.jumbotron-inner {
			width: 100%;
		}

		.jumbotron-image {
			width: 750px;
			height: 424px;
			margin-left: -140px;
		}

		.jumbotron-slider-wrap {
			width: 610px;
			padding: 0 115px;
		}

		.jumbotron-slider {

			.slider-item-row {
				height: 424px;
			}

			.slick-dots {
				right: -80px;
			}

			.slide-nav {

				&.prev {
					left: -690px;
				}

				&.next {
					right: -75px;
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		.jumbotron-image {
			width: 959px;
			height: 595px;
			margin-left: -350px;
		}

		.jumbotron-slider-wrap {
			height: 595px;
		}

		.jumbotron-slider {

			.slider-item-row {
				height: 595px;
			}
		}
	}
}



