.leaders-block {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	background: #f6f6f6;

	.inner {
		width: 300px;
		margin: 0 auto;
		position: relative;

		&:after,
		&:before {
			top: 0;
			width: 2px;
			z-index: 50;
			content: '';
			height: 100%;
			position: absolute;
			background: rgba(51,51,51,0.05);
		}

		&:after {
			left: 0;
		}

		&:before {
			right: 0;
		}
	}

	.leaders-heading {
		font-size: 25px;
		line-height: 30px;
		padding: 24px 0 24px 30px;

		span {
			width: 100px;
			display: inline-block;
		}
	}

	.leaders-slider {
		position: relative;

		.slick-list {
			overflow: inherit;
		}

		.leaders-slider-item {
			border: none;
			outline: none;
		}

		.slide-nav {
			top: -70px;

			&.prev {
				right: 75px;
			}

			&.next {
				right: 30px;
			}
		}
	}


	.leaders {
		color: #fff;
		display: block;
		font-size: 13px;
		font-weight: 700;
		line-height: 25px;
		position: relative;
		text-decoration: none;
		text-transform: uppercase;

		&:before {
			top: 0;
			left: 0;
			z-index: 3;
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
		}

		&:hover {

			&:before {
				background: -moz-linear-gradient(top, rgba(153,153,153,0) 0%, rgba(153,153,153,0.65) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(153,153,153,0) 0%,rgba(153,153,153,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, rgba(153,153,153,0) 0%,rgba(153,153,153,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00999999', endColorstr='#a6999999',GradientType=0 ); /* IE6-9 */
			}
		}

		.leaders-text {
			left: 27px;
			right: 27px;
			bottom: 25px;
			z-index: 5;
			position: absolute;
			background: url("../img/icon_arrow_left.png") 100% 50% no-repeat;
		}

		.leaders-tags {
			left: 0;
			top: 15px;
			color: #333;
			font-size: 13px;
			font-weight: 400;
			line-height: 15px;
			position: absolute;
			background: #e5b366;
			text-transform: capitalize;
			padding: 4px 11px 4px 27px;
		}
	}

	@media (min-width: $screen-sm-min) {

		.inner {
			width: 610px;
		}

		.leaders-heading {

			span {
				width: 100%;
			}
		}

		.leaders-slider {

			.slide-nav {
				top: -55px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.inner {
			width: 915px;
		}
	}

	@media (min-width: $screen-lg-min) {

		.inner {
			width: 100%;
		}
	}
}