.modal {
	padding: 0;
	width: 300px;
	background: #fff;

	.modal-header {
		position: relative;
		padding: 24px 50px 24px 20px;
		border-bottom: 2px solid #f6f6f6;

		h4 {
			font-size: 20px;
			font-weight: 700;
			line-height: 20px;
			margin-bottom: 0;
		}

		.modal-close {

		}
	}

	.modal-body {
		position: relative;

		.content-scroll {
			height: 450px;
			padding-right: 10px;
		}

		.modal-content {
			padding: 25px 20px 5px 20px;
		}
	}

	.modal-footer {
		padding: 5px 20px 20px 20px;
		text-align: center;
		background: #fff;
		border-top: 2px solid #f6f6f6;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			@include clearfix();

		}

		span {
			color: #333;
			padding: 10px 0;
			font-size: 15px;
			line-height: 20px;
			display: inline-block;
		}
	}

	@media (min-width: $screen-sm-min) {
		width: 615px;

		.modal-header {
			padding: 24px 50px 24px 60px;
		}

		.modal-body {

			.modal-content {
				padding: 25px 50px 5px 60px;
			}
		}

		.modal-footer {
			text-align: inherit;
			padding: 20px 60px;

			ul {

				li {

					&:first-child {
						float: left;
					}

					&:last-child {
						float: right;
					}
				}
			}
		}
	}
}

.colors-box {
	width: 100%;
	max-width: 100%;
	overflow: hidden;

	.color-head {
		font-size: 13px;
		font-weight: 700;
		line-height: 13px;
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	p {
		color: #999;
		font-size: 15px;
		line-height: 20px;
		margin-bottom: 15px;
	}

	.color-list {
		padding: 0;
		list-style: none;
		margin: 0 -5px 25px -5px;
		@include clearfix();

		> li {
			float: left;
			padding: 0 5px;
			margin-bottom: 10px;
		}

		label {
			width: 42px;
			height: 42px;
			display: block;
			cursor: pointer;
			position: relative;

			input[type='checkbox'] {
				display: none;
			}

			.checkbox-custom {
				width: 42px;
				height: 42px;
				display: block;
				position: relative;

				&:before {
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					content: '';
					z-index: 10;
					display: none;
					position: absolute;
					border: 4px solid #fcc36d;
				}
			}

			input[type='checkbox']:checked + .checkbox-custom:before {
				display: block;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.color-list {

			label {
				width: 62px;
				height: 62px;

				.checkbox-custom {
					width: 62px;
					height: 62px;
				}
			}
		}
	}
}


.modal-close {
	top: 20px;
	right: 20px;
	width: 30px;
	height: 30px;
	z-index: 50;
	outline: none;
	background: transparent;
	position: absolute;
	display: inline-block;
	border: 2px solid #e8d5cc;
	@include border-radius(50%);

	&:after,
	&:before {
		top: 50%;
		left: 50%;
		width: 10px;
		height: 2px;
		content: '';
		position: absolute;
		background: #c26028;
		margin: -1px 0 0 -5px;
	}

	&:after {
		@include rotate(-45deg);
	}

	&:before {
		@include rotate(45deg);
	}
}

.scroll-y {
	top: 0;
	right: 0;
	height: 100%;
	width: 10px;
	background: #eee;
	position: absolute;
}

.scroll-element_outer {
	width: 100%;
	display: block;
	height: 100%;
}

.scroll-bar {
	width: 10px;
	display: block;
	background: #cccccc;
	position: absolute;
}

.scroll-element {

	div {
		display: block;
		height: 100%;
		left: 0;
		top: 0;
		width: 100%;
	}
}
