.navbar {
	left: 0;
	right: 0;
	top: 0;
	z-index: 1100;
	min-height: 100vh;
	overflow: hidden;
	visibility: visible;
	position: absolute;
	@include opacity(1);
	@include translate(-100%,0);

	&.open {
		visibility: visible;
		@include opacity(1);
		@include translate(0,0);
		@include transition(.3s);
	}


	.container {
		z-index: 10;
		position: relative;
	}

	.navbar-inner {
		width: 300px;
		margin: 0 auto;
		@include clearfix();
	}

	.navbar-wrap {
		width: 260px;
		min-height: 100vh;
		background: #fff;
		position: relative;

		&:after {
			top: 0;
			left: 0;
			bottom: 0;
			content: '';
			width: 2px;
			z-index: 10;
			background: rgba(0,0,0,0.05);
			position: absolute;

		}

		&:before {
			top: 0;
			left: 0;
			bottom: 0;
			content: '';
			width: 2000px;
			margin-left: -2000px;
			background: #fff;
			position: absolute;
		}
	}

	.navbar-close {
		top: 55px;
		left: 100%;
		width: 47px;
		height: 62px;
		cursor: pointer;
		position: absolute;
		display: inline-block;
		background: #eee url("../img/icon_navbar_close.png") 50% 50% no-repeat;
	}


	.topnav {
		margin: 0;
		padding: 0;
		list-style: none;

		 > li {
			 position: relative;

			 > a {
				 width: 100%;
				 color: #333;
				 padding: 22px 15px 25px 17px;
				 font-size: 13px;
				 font-weight: 700;
				 line-height: 15px;
				 position: relative;
				 background: #fff;
				 display: inline-block;
				 text-decoration: none;
				 text-transform: uppercase;
				 border-top: none;

				 &:before {
					 right: 0;
					 bottom: 0;
					 content: '';
					 height: 2px;
					 width: 1000px;
					 position: absolute;
					 background: rgba(0,0,0,0.05);
				 }


				 i {
					 top: 50%;
					 right: 24px;
					 height: 11px;
					 font-size: 11px;
					 line-height: 11px;
					 position: absolute;
					 margin-top: -6px;
					 @include transition(.3s);
				 }

				 &:hover {
					 color: $color-orange;
					 background: #efe3dc;

					 i {
						 @include rotate(180deg);
						 @include transition(.3s);
					 }
				 }
			 }

			 &.dropdown {

				 > a {
					 color: #333;
					 background: #fcc36d;

					 &:after {
						 top: 0;
						 bottom: 0;
						 z-index: 5;
						 content: '';
						 right: 54px;
						 width: 2px;
						 position: absolute;
						 display: inline-block;
						 background: rgba(0,0,0,0.05);
					 }
				 }
			 }

			 &:hover {


				 &:after {
					 top:0;
					 left: 0;
					 content: '';
					 height: 62px;
					 width: 1000px;
					 margin-left: -1000px;
					 position: absolute;
					 background: #fcc36d;
				 }

				 > a {
					 color: #333;
					 background: #fcc36d;

					 i {
						 @include rotate(180deg);
						 @include transition(.3s);
					 }
				 }

				 .dropnav {
					 display: block;
				 }
			 }
		 }

		.dropnav {
			margin: 0;
			padding: 0;
			z-index: 1110;
			display: none;
			list-style: none;

			> ul {

				> li {

					> a {
						width: 100%;
						color: #333;
						height: 62px;
						padding: 10px 15px 10px 35px;
						font-size: 13px;
						font-weight: 700;
						line-height: 15px;
						position: relative;
						background: #ffffff;
						display: inline-block;
						text-decoration: none;
						text-transform: uppercase;
						border-top: none;
						@include flexbox();

						&:before {
							right: 0;
							bottom: 0;
							content: '';
							height: 2px;
							width: 1000px;
							position: absolute;
							background: rgba(0,0,0,0.05);
						}

						i {
							top: 50%;
							right: 24px;
							height: 11px;
							font-size: 11px;
							line-height: 11px;
							position: absolute;
							margin-top: -6px;
							@include transition(.3s);
						}

						&:hover {
							color: #333;
							background: #fcc36d;

							i {
								@include rotate(180deg);
								@include transition(.3s);
							}
						}

						span {
							margin: auto 0;
							display: inline-block;
						}

						&:hover {
							color: #fff;
							background: #444;
						}
					}

					&.dropdown {

						> a {
							padding-right: 60px;

							&:after {
								top: 0;
								bottom: 0;
								z-index: 5;
								content: '';
								right: 54px;
								width: 2px;
								position: absolute;
								display: inline-block;
								background: rgba(0,0,0,0.05);
							}
						}
					}

					&:hover {

						> a {
							color: #fff;
							background: #444;
						}

						.dropnav-second {
							display: block;
						}
					}
				}
			}
		}

		.dropnav-second {
			margin: 0;
			padding: 10px 50px 17px 35px;
			display: none;
			list-style: none;
			position: relative;

			&:before {
				right: 0;
				bottom: 0;
				content: '';
				height: 2px;
				width: 1000px;
				position: absolute;
				background: rgba(0,0,0,0.05);
			}

			> li {
				margin-bottom: 6px;

				&:last-child {
					margin-bottom: 0;
				}

				> a {
					color: #333;
					font-size: 13px;
					line-height: 13px;
					white-space: normal;
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}

	.navbar-search {
		background: #eee;
		padding: 10px 15px;
		position: relative;
		border-right: 2px solid #e2e2e2;

		&:before {
			right: 0;
			bottom: 0;
			z-index: 2;
			content: '';
			height: 2px;
			width: 1000px;
			position: absolute;
			background: rgba(0,0,0,0.05);
		}

		&:after {
			top: 0;
			left: 0;
			z-index: 1;
			bottom: 0;
			content: '';
			margin-left: -1000px;
			width: 1000px;
			position: absolute;
			background: #eee;
		}

		input[type='text'] {
			margin: 0;
			width: 100%;
			color: #999;
			border: none;
			outline: none;
			font-size: 15px;
			background: #eee;
			line-height: 17px;
			display: block;
			height: 35px;
			padding: 9px 35px 9px 0;
			@include placeholder(#999);

			&::-ms-clear {
				display: none;
				width: 0;
				height: 0;
			}

			&:focus {
				@include placeholder(transparent);
			}
		}

		button {
			top: 50%;
			margin: -15px 0 0 0;
			right: 10px;
			width: 30px;
			height: 30px;
			border: none;
			outline: none;
			font-size: 0;
			line-height: 0;
			cursor: pointer;
			padding: 7px 0;
			text-align: center;
			position: absolute;
			display: inline-block;
			background: transparent;
			@include border-radius(50%);
			@include transition(.3s);

			.ico-svg {
				height: 16px;
				fill: #444;
			}


			&:hover {
				background: #efe3dc;
				@include transition(.3s);
			}

			&:active {
				background: #fff2eb;
				@include transition(.3s);
			}
		}
	}

	.navbar-delete {
		top: 0;
		left: 0;
		width: 74px;
		height: 74px;
		display: none;
		background: #333;
		position: absolute;

		.navbar-delete-inner {
			width: 74px;
			height: 74px;
			display: block;
			position: relative;
		}

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			z-index: 10;
			content: '';
			width: 14px;
			height: 2px;
			background: #fff;
			position: absolute;
			margin: -1px 0 0 -7px;
		}

		&:after {
			@include rotate(45deg);
		}

		&:before {
			@include rotate(-45deg);
		}
	}

	@media (min-width: $screen-sm-min) {

		.navbar-inner {
			width: 610px;
		}

		.navbar-wrap {
			width: 302px;
		}

		.topnav {

			> li {

				> a {
					padding-left: 32px;
				}
			}

			.dropnav {

				> li {

					> a {
						padding-left: 52px;
					}
				}
			}

			.dropnav-second {
				padding-left: 52px;

				> li {

					> a {

					}
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.navbar-inner {
			width: 915px;
		}

		.topnavSS {

			> li {

				> a {
					padding: 15px 30px;

					i {
						top: -2px;
						right: auto;
						position: relative;
						margin-top: 0;
					}

					&:hover {
						color: #fff;
						background: #444;
					}
				}
			}

			.dropnav {

				> li {

					> a {
						height: auto;
						padding: 15px 30px;
					}
				}
			}
		}
	}


	@media (min-width: $screen-lg-min) {
		top: auto;
		left: auto;
		right: auto;
		height: 69px;
		overflow: inherit;
		min-height: 69px;
		position: relative;
		visibility: visible;
		@include opacity(1);
		@include translate(0,0);


		&:before {
			top: 0;
			left: 0;
			z-index: -1;
			width: 50%;
			content: '';
			height: 100%;
			position: absolute;
			background: #fcc36d;
		}

		&:after {
			top: 0;
			right: 0;
			z-index: -1;
			width: 50%;
			content: '';
			height: 100%;
			position: absolute;
			background: #eeeeee;
		}

		.navbar-inner {
			width: 100%;
			border-left: 2px solid #fcc97c;
			border-right: 2px solid #e2e2e2;
		}

		.navbar-wrap {
			width: auto;
			height: auto;
			min-height: inherit;
			@include clearfix();
		}

		.navbar-close {
			display: none;
		}

		.topnav {
			float: left;
			width: 916px;
			display: table;
			position: relative;

			&:before {
				top: -85px;
				left: 0;
				right: 0;
				content: '';
				height: 100vh;
				z-index: 1;
				display: block;
				position: fixed;
				visibility: hidden;
				background: rgba(51,51,51,0.5);
				@include opacity(0);
				@include transition(0.3s);
			}

			&.open {

				&:before {
					visibility: visible;
					@include opacity(1);
				}
			}

			> li {
				display: table-cell;
				vertical-align: middle;

				> a {
					color: #333;
					border: none;
					background: #fff;
					text-align: center;
					padding: 27px 20px;

					&:hover {
						color: #fff;
						background: #444444;
					}

					&:after,
					&:before {
						display: none;
					}


					i {
						top: -2px;
						right: auto;
						position: relative;
						margin-top: 0;
					}
				}

				&:first-child {

					> a {
						z-index: 100;
						background: #fcc36d;

						&:hover {
							color: #333;
							background: #fff;
						}
					}

					&:hover {

						> a {
							color: #333;
							background: #fff;
						}
					}
				}

				&.dropdown {

					> a {

						&:after {
							display: none;
						}
					}
				}

				&:hover {

					> a {
						color: #fff;
						background: #444444;
					}

					&:after {
						display: none;
					}

					.dropnav {
						visibility: visible;
						@include opacity(1);
					}

					.dropdown-bg {
						visibility: visible;
						@include opacity(1);
						@include transition(0.3s);
					}
				}
			}

			.dropnav {
				top: 100%;
				left: 0;
				z-index: 1000;
				background: #fff;
				display: block;
				visibility: hidden;
				position: absolute;
				white-space: nowrap;
				@include opacity(0);

				&.dropnav-cat {
					width: 1218px;

					&:after {
						z-index: 1;
						top: -69px;
						bottom: 0;
						content: '';
						width: 1500px;
						display: block;
						margin-left: -1500px;
						position: absolute;
						background: #fff;
					}

					&:before {
						z-index: 2;
						top: -69px;
						left: -2px;
						bottom: 0;
						content: '';
						right: auto;
						width: 2px;
						position: absolute;
						background: rgba(0,0,0,0.05);
					}


					> ul {
						width: 100%;
						display: table;
						position: relative;

						&:after {
							top: 0;
							left: 100%;
							bottom: 0;
							content: '';
							width: 1500px;
							display: block;
							position: absolute;
							background: #fff;
						}

						> li {
							height: 130px;
							position: relative;
							padding: 36px 25px 30px 30px;
							display: table-cell;
							width: 203px;
							vertical-align: top;

							&:before {
								z-index: 10;
								width: 4000px;
								bottom: 0;
								content: '';
								left: -1000px;
								height: 2px;
								display: none;
								position: absolute;
								background: rgba(0,0,0,0.05);
							}

							&:after {
								z-index: 2;
								top: 0;
								right: 0;
								bottom: 0;
								content: '';
								width: 2px;
								position: absolute;
								background: rgba(0,0,0,0.05);
							}

							&:nth-child(1),
							&:nth-child(7) {

								&:before {
									display: block;
								}
							}

							> a {
								color: #c25f28;
								height: auto;
								background: #fff;
								padding: 0;
								min-height: 30px;
								white-space: normal;
								margin-bottom: 15px;

								&:hover {
									color: #333;
									background: #fff;
								}

								&:before {
									display: none;
								}

								i {
									display: none;
								}
							}

							&.dropdown {

								> a {

									&:after {
										display: none;
									}
								}
							}
						}

						&:nth-child(2) {

							> li {
								padding: 20px 25px 30px 30px;
							}
						}

						&:nth-child(3) {

							> li {
								padding: 20px 25px 30px 30px;

								&:last-child {
								//	width: auto;
								}
							}
						}
					}
				}
			}

			.dropnav-second {
				display: block;
				padding: 0;

				&:before {
					display: none;
				}
			}
		}

		.navbar-search {
			float: right;
			width: 300px;
			border: none;
			background: #eee;
			padding: 17px 25px 17px 30px;

			&:after,
			&:before {
				display: none;
			}

			button {
				right: 25px;
			}
		}
	}
}

@media (min-width: $screen-lg-min) {

	.fix-top {

		.navbar {
			top: 0;
			left: 0;
			right: 0;
			height: 76px;
			position: fixed;
			visibility: hidden;
			@include opacity(0);
			border-bottom: 2px solid #f5f5f5;

			&:before {
				bottom: -2px;
				height: auto;
				border-bottom: 2px solid #f5f5f5;
			}

			&:after {
				bottom: -2px;
				height: auto;
				border-bottom: 2px solid #f5f5f5;
			}

			.topnav {
				width: 842px;
				margin-left: 74px;

				> li {

					> a {
						padding: 29px 20px 30px 20px;
					}
				}
			}

			.navbar-delete {
				z-index: 1300;
				display: block;
				cursor: pointer;

				.navbar-delete-inner {
					border-left: 2px solid #484848;

					&:before {
						top: 0;
						left: 0;
						bottom: 0;
						content: '';
						width: 2000px;
						margin-left: -2000px;
						background: #333;
						position: absolute;
					}
				}
			}
		}


		&.open-nav {

			.navbar {
				visibility: visible;
				@include opacity(1);
			}
		}
	}
}



