.news-block {
	max-width: 100%;
	overflow: hidden;
	background: #f6f6f6;

	.inner {
		width: 300px;
		margin: 0 auto;
		position: relative;

		&:after,
		&:before {
			top: 0;
			width: 2px;
			z-index: 50;
			content: '';
			height: 100%;
			position: absolute;
			background: #e9e9e9;
		}

		&:after {
			left: 0;
		}

		&:before {
			right: 0;
		}
	}

	h3 {
		margin-bottom: 0;
		line-height: 50px;
		padding: 15px 0 15px 30px;
	}

	.news-total {
		color: #333;
		display: block;
		font-size: 20px;
		font-weight: 600;
		line-height: 30px;
		background: #fff;
		position: relative;
		text-decoration: none;
		padding: 22px 30px 22px 25px;

		&:before {
			top: 50%;
			right: 30px;
			content: '';
			width: 14px;
			height: 12px;
			margin-top: -6px;
			position: absolute;
			background: url("../img/icon_arrow_right_black.png") 0 0 no-repeat;
		}

		&:hover {
			background: #e8e8e8;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		@include clearfix();

		> li {
			width: 100%;
			float: left;
		}
	}


	@media (min-width: $screen-sm-min) {

		.inner {
			width: 610px;
		}

		.news-total {
			height: 470px;
			width: 100%;
			display: table;
			background: #fff;

			span {
				display: table-cell;
				vertical-align: middle;
			}
		}

		ul {

			> li {
				width: 50%;
				position: relative;

				&:before {
					z-index: 5;
					top: -80px;
					right: 0;
					bottom: 0;
					content: '';
					width: 2px;;
					position: absolute;
					background: rgba(51,51,51,0.05);
				}

				&:last-child {
					border-right: none;

					&:before {
						display: none;
					}
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.inner {
			width: 915px;
		}


		ul {
			> li {
				width: 33.33%;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		.inner {
			width: 100%;
		}

		ul {

			> li {
				width: 25%;
			}
		}
	}
}

.news-item {
	color: #666;
	height: 470px;
	display: block;
	background: #fff;
	font-size: 15px;
	line-height: 20px;
	position: relative;
	text-decoration: none;

	&:before {
		left: 28px;
		bottom: 30px;
		content: '';
		width: 14px;
		height: 12px;
		position: absolute;
		background: url("../img/icon_arrow_right_black.png") 0 0 no-repeat;
	}

	&:hover {
		background: #e8e8e8;
		text-decoration: none;
	}

	.news-content {
		padding: 25px 40px 60px 25px;
	}

	h4 {
		color: #333;
		font-size: 17px;
		font-weight: 600;
		line-height: 20px;
		margin-bottom: 20px;
	}

	p {
		height: 90px;
		overflow: hidden;
		margin-bottom: 0;
	}
}

.news-row {
	width: 300px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;

	.news-row-item {
		position: relative;
	}

	@media (min-width: $screen-sm-min) {
		width: 610px;

		&:after {
			top: 0;
			left: 0;
			width: 2px;
			z-index: 50;
			content: '';
			height: 100%;
			position: absolute;
			background: rgba(0,0,0,0.05);
		}

		.news-row-item {
			width: 50%;
			float: left;

			&:before {
				top: 0;
				right: 0;
				width: 2px;
				z-index: 50;
				content: '';
				height: 100%;
				position: absolute;
				background: rgba(0,0,0,0.05);
			}
		}
	}

	@media (min-width: $screen-md-min) {
		width: 915px;

		.news-row-item {
			width: 305px;
		}
	}

	@media (min-width: $screen-lg-min) {
		width: 100%;

		.news-row-item {
			width: 25%;
		}
	}
}
