.showcase-item {
	display: block;
	padding: 30px;
	color: $color-orange;
	text-decoration: none;

	img {
		margin: 0 auto 25px auto;
	}

	h5 {
		height: 20px;
		display: block;
		overflow: hidden;
		font-size: 13px;
		font-weight: 700;
		line-height: 20px;
		text-align: left;
		color: $color-orange;
		text-decoration: none;
		text-transform: uppercase;
	}

	&:hover {
		background: #e8e8e8;

		h5 {
			text-decoration: underline;
		}
	}

	.showcase-info {
		margin: 0;
		padding: 0;
		font-size: 13px;
		line-height: 20px;
		list-style: none;

		> li {
			@include clearfix();
		}

		span {
			float: left;
			color: #999;
			display: inline-block;
		}

		strong {
			color: #333;
			float: right;
			display: inline-block;

			i {
				font-size: 11px;
			}
		}
	}
}

.showcase-custom {
	padding: 0;
	margin: 0 -17px;
	list-style: none;
	@include clearfix();

	> li {
		position: relative;
	}

	@media (min-width: $screen-sm-min) {
		margin: 0 -32px;

		> li {
			width: 50%;
			float: left;

			&:before {
				top: 0;
				right: 0;
				width: 2px;
				z-index: 50;
				content: '';
				height: 100%;
				position: absolute;
				background: #f2f2f2;
			}

			&:nth-child(even) {

				&:before {
					display: none;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		> li {
			width: 305px;

			&:nth-child(even) {

				&:before {
					display: block;
				}
			}

			&:nth-child(3n) {

				&:before {
					display: none;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		> li {
			width: 25%;

			&:nth-child(3n) {

				&:before {
					display: block;
				}
			}

			&:nth-child(4n) {

				&:before {
					display: none;
				}
			}
		}
	}
}

.filter {
	height: 60px;
	background: #fff;

	.border-wrap {
		height: 60px;
	}

	.filter-row {
		padding: 0;
		list-style: none;
		margin: 0 -15px 0 0;
		@include clearfix();

		> li {

			&:first-child {
				float: left;
			}

			&:last-child {
				float: right;
			}
		}
	}

	.filter-nav {
		display: inline-block;

		&.open {

			.filter-nav-bg {
				visibility: visible;
				@include opacity(1);
				@include transition(.3s);
			}

			.filter-nav-current {

				i {
					@include rotate(180deg);
					@include transition(.3s);
				}
			}

			.filter-nav-dropdown {
				visibility: visible;
				@include opacity(1);
				@include transition(.3s);
			}
		}

		.filter-nav-bg {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 90;
			position: fixed;
			visibility: hidden;
			@include opacity(0);
			background: rgba(51,51,51,0.5);
			@include transition(.3s);
		}

		.filter-nav-wrap {
			position: relative;
			display: inline-block;
		}

		.filter-nav-current {
			z-index: 100;
			width: 48px;
			height: 60px;
			color: #333;
			font-size: 13px;
			font-weight: 700;
			background: #fff;
			line-height: 13px;
			padding: 22px 5px;
			text-align: center;
			display: inline-block;
			text-decoration: none;
			position: relative;
			border-left: 2px solid #f2f2f2;

			span {
				display: none;
				color: $color-orange;
				border-bottom: 1px dashed #c25f28;
			}
		}

		.filter-nav-dropdown {
			top: 100%;
			right: 0;
			margin: 0;
			padding: 0;
			z-index: 100;
			width: 300px;
			display: block;
			position: absolute;
			background: #fff;
			list-style: none;
			visibility: hidden;
			@include opacity(0);
			@include transition(.3s);

			> li {
				border-bottom: 2px solid #f6f6f6;

				&:last-child {
					border-bottom: none;
				}
			}

			label {
				width: 100%;
				position: relative;
				display: inline-block;

				input[type='radio'] {
					display: none;
				}

				.custom-label {
					width: 100%;
					color: #333;
					cursor: pointer;
					font-size: 13px;
					font-weight: 700;
					white-space: nowrap;
					line-height: 20px;
					position: relative;
					display: inline-block;
					text-transform: uppercase;
					padding: 24px 25px 24px 80px;
					@include transition(.3s);

					&:hover {
						background: #dedede;
						@include transition(.3s);
					}
				}

				.ico-svg {
					top: 50%;
					left: 20px;
					height: 30px;
					margin-top: -15px;
					position: absolute;
					fill:  #333;
				}

				input[type='radio']:checked + .custom-label {
					color: #fff;
					background: #333;

					.ico-svg {
						fill: #333;
					}
				}
			}
		}
	}

	.filter-col {
		margin: 0;
		padding: 0;
		list-style: none;
		@include clearfix();

		> li {
			float: left;
			display: none;

			&:nth-child(1) {
				width: 80px;
				display: block;
			}

			&:nth-child(2) {
				display: block;
			}
		}

		.filter-label {
			font-size: 15px;
			line-height: 20px;
			padding: 20px 0;
			display: inline-block;
		}

		label {
			position: relative;
			display: inline-block;

			input[type='radio'] {
				display: none;
			}

			.custom-label {
				width: 100%;
				color: #333;
				cursor: pointer;
				font-size: 13px;
				font-weight: 700;
				white-space: nowrap;
				line-height: 20px;
				position: relative;
				display: inline-block;
				text-transform: uppercase;
				padding: 20px 10px 20px 55px;
				@include transition(.3s);

				&:hover {
					background: #dedede;
					@include transition(.3s);
				}
			}

			.ico-svg {
				top: 50%;
				left: 10px;
				height: 30px;
				margin-top: -15px;
				position: absolute;
				fill:  #333;
			}

			input[type='radio']:checked + .custom-label {
				color: #fff;
				background: #333;

				.ico-svg {
					fill: #fff;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.filter-row {
			margin-right: -30px;
		}

		.filter-nav {

			.filter-nav-current {
				width: 60px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		.filter-nav {

			.filter-nav-current {
				width: 60px;

				span {
					display: inline-block;
				}

				i {
					display: none;
				}
			}
		}

		.filter-col {

			> li {
				display: block;
			}

			label {

				.custom-label {
					padding: 20px 25px 20px 65px;
				}

				.ico-svg {
					left: 20px;
				}
			}
		}
	}
}

@media (min-width: $screen-lg-min) {

	.fix-filter {

		.filter {
			left: 0;
			top: 76px;
			right: 0;
			z-index: 1200;
			position: fixed;
			height: 62px;
			border-bottom: 2px solid #f2f2f2;
		}
	}

}

.box-border-top {
	position: relative;
	border-top: 2px solid #f6f6f6;

	&:after,
	&:before {
		top: -2px;
		width: 2000px;
		height: 2px;
		content: '';
		position: absolute;
		background: #f6f6f6;
	}

	&:after {
		left: -2000px;
	}

	&:before {
		right: -2000px;
	}
}

.sort {
	background: #f6f6f6;
	position: relative;

	&.sort-white {
		background: #fff;
	}

	.border-wrap {
		padding: 0 17px;
	}

	.sort-group-left {
		padding: 8px 0;
		@include clearfix();
	}

	.sort-group-right {
		padding: 8px 0;
		@include clearfix();
	}

	.sort-legend {
		color: #333;
		display: none;
		padding: 7px 0;
		font-size: 13px;
		line-height: 21px;
	}

	.sort-elem {
		margin: 0;
		padding: 7px 0;
		list-style: none;
		@include clearfix();

		li {
			font-size: 13px;
			line-height: 20px;
			@include clearfix();

			&:first-child {
				float: left;
			}

			&:last-child {
				float: right;
				padding-right: 3px;
				text-align: right;
			}
		}
	}

	.sort-item {
		width: 15px;
		height: 15px;
		font-size: 0;
		line-height: 0;
		margin: 0 0 0 15px;
		display: inline-block;

		.sort-radio {
			display: none;
			visibility: hidden;
		}

		.sort-text {
			width: 15px;
			height: 15px;
			padding: 3px 0;
			text-align: center;
			display: inline-block;
			border: 1px solid #ebdbd4;
			@include rotate(45deg);

			i {
				width: 7px;
				height: 7px;
				display: inline-block;
				@include rotate(-45deg);
			}

			.ico-svg {
				height: 7px;
				fill: #c26028;
			}

			&:hover {
				background: #efe3dc;
			}
		}

		.sort-radio:checked + .sort-text {
			border-color: #c26028;
			background: #c26028;


			.ico-svg {
				fill: #fff;
			}
		}
	}

	.sort-type {
		padding: 0;
		margin: 0 -5px 8px -5px;
		list-style: none;
		@include clearfix();

		> li {
			width: 50%;
			float: left;
			padding: 0 5px;
		}
	}

	.type-label {
		width: 100%;
		display: inline-block;

		.checkbox {
			display: none;
			visibility: hidden;
		}


		.checkbox-text {
			width: 100%;
			color: #c25f28;
			font-size: 13px;
			padding: 7px 20px;
			line-height: 19px;
			text-align: center;
			display: inline-block;
			border: 1px solid #efe3dc;

			i {
				position: relative;
				font-style: normal;
				display: inline-block;
				padding-left: 19px;
			}

			.ico-svg {
				top: 2px;
				left: 0;
				height: 15px;
				position: absolute;
				fill: $color-orange;
			}

			&:hover {
				background: #efe3dc;
			}
		}


		.checkbox:checked + .checkbox-text {
			border-color: #c25f28;
			background: #c25f28;
			color: #fff;

			.ico-svg {
				fill: #fff;
			}
		}
	}

	.sort-direction {
		position: relative;
		padding: 10px 0 12px 0;

		&:before {
			left: -1500px;
			bottom: 0;
			content: '';
			height: 2px;
			width: 5000px;
			position: absolute;
			background: #f6f6f6;
		}

		.sort-legend {
			width: 100px;
		}
	}

	.sort-view {
		margin: 0 -15px;
		@include clearfix();

		> li {

			&:first-child {
				float: left;
				width: 115px;
				font-size: 13px;
				line-height: 15px;
				padding: 18px 15px;
			}

			&:last-child {
				float: right;
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		.border-wrap {
			padding: 0 32px;
		}


		.sort-legend {
			width: 130px;
			display: inline-block;
			float: left;
		}

		.sort-elem {
			float: left;
			padding: 7px 15px;


			> li {

				&:first-child {
					float: left;
					margin-right: 15px;
				}

				&:last-child {
					float: left;
				}
			}
		}

		.sort-type {
			float: left;
			padding-left: 15px;

			li {

			}
		}

		.type-label {
			width: 130px;
		}

		.sort-view {

			> li {

				&:first-child {
					padding: 32px 15px;
				}

				&:last-child {
					float: left;
				}
			}
		}

		.sort-direction {
			padding: 21px 0 23px 0;
		}
	}

	@media (min-width: $screen-md-min) {

		.sort-direction {
			float: left;
			padding-bottom: 10px;

			&:after,
			&:before {
				display: none;
			}
		}

		.sort-view {
			float: right;

			> li {

				&:first-child {
					width: auto;
				}
			}
		}
	}


	@media (min-width: $screen-lg-min) {

		.sort-group-left {
			float: left;
			padding: 21px 20px 21px 0;
		}

		.sort-group-right {
			float: left;
			padding: 21px 0;
		}

		.sort-legend {
			width: auto;
		}

		.sort-type {
			margin-bottom: 0;
		}

		.sort-group {
			float: left;
			margin-right: 30px;
		}
	}
}

.select-nav {
	z-index: 500;
	position: relative;

	.select-nav-bg {
		top: 0;
		right: 0;
		content: '';
		z-index: 2;
		width: 100%;
		height: 100%;
		display: none;
		background: rgba(0,0,0, 0.8);
		position: fixed;
	}

	.select-nav-wrap {
		z-index: 10;
		position: relative;
	}

	.select-nav-dropdown {
		right: 0;
		top: 100%;
		z-index: 110;
		display: none;
		position: absolute;
	}

	&.open {

		.select-nav-bg {
			display: block;
		}

		.view-box-current {
			background: #fff;
		}

		.select-nav-dropdown {
			display: block;
		}
	}
}

.view-box {
	display: inline-block;

	.view-box-current {
		z-index: 100;
		color: #c25f28;
		font-size: 13px;
		font-weight: 700;
		background: #fff;
		line-height: 14px;
		padding: 18px 15px;
		display: inline-block;
		text-decoration: none;
		position: relative;

		span {
			border-bottom: 1px dashed #c25f28;
		}

		&:hover {

		}
	}

	.view-list {
		margin: 0;
		padding: 0;
		background: #fff;
		list-style: none;

		> li {
			border-bottom: 2px solid #f6f6f6;

			&:last-child {
				border-bottom: none;
			}
		}

		label {
			width: 100%;
			position: relative;
			display: inline-block;

			input[type='radio'] {
				display: none;
			}

			.custom-label {
				width: 100%;
				color: #333;
				cursor: pointer;
				font-size: 13px;
				font-weight: 700;
				white-space: nowrap;
				line-height: 20px;
				position: relative;
				display: inline-block;
				text-transform: uppercase;
				padding: 24px 25px 24px 80px;
				@include transition(.3s);

				&:hover {
					background: #dedede;
					@include transition(.3s);
				}
			}

			.ico-svg {
				top: 50%;
				left: 20px;
				height: 30px;
				margin-top: -15px;
				position: absolute;
				fill:  #333;
			}

			input[type='radio']:checked + .custom-label {
				color: #fff;
				background: #333;

				.ico-svg {
					fill: #333;
				}
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		.view-box-current {
			padding: 32px 15px;
		}

		.view-list {

		}
	}
}

.product-tile {
	margin: 0 -17px;
	padding: 0;
	list-style: none;
	@include clearfix();


	> li {
		position: relative;

	}

	@media (min-width: $screen-sm-min) {
		margin: 0 -32px;

		> li {
			width: 50%;
			float: left;

			&:before {
				top: 0;
				right: 0;
				width: 2px;
				z-index: 50;
				content: '';
				height: 100%;
				position: absolute;
				background: #f2f2f2;
			}

			&:after {
				z-index: 10;
				left: -2000px;
				bottom: -1px;
				height: 2px;
				content: '';
				width: 4000px;
				position: absolute;
				background: #f2f2f2;
			}

			&:nth-child(even) {

				&:before {
					display: none;
				}
			}
		}
	}


	@media (min-width: $screen-md-min) {

		> li {
			width: 305px;

			&:nth-child(even) {

				&:before {
					display: block;
				}
			}

			&:nth-child(3n) {

				&:before {
					display: none;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		> li {
			width: 25%;

			&:nth-child(3n) {

				&:before {
					display: block;
				}
			}

			&:nth-child(4n) {

				&:before {
					display: none;
				}
			}
		}
	}
}

.showcase {
	padding: 0;
	margin: 0 auto;
	position: relative;
	// border: 2px solid transparent;

	&:hover {

	}

	.icon-status {
		top: 20px;
		left: 25px;
		z-index: 50;
		position: absolute;
	}

	.icon-action {
		height: 20px;
		display: inline-block;

		.ico-svg {
			fill: $color-orange;
		}
	}

	.like {
		top: 20px;
		right: 25px;
		position: absolute;
	}

	.showcase-delete {
		top: 10px;
		cursor: pointer;
		z-index: 50;
		right: 15px;
		width: 30px;
		height: 30px;
		position: absolute;
		background: transparent;
		@include border-radius(50%);

		&:after,
		&:before {
			top: 10px;
			z-index: 10;
			left: 50%;
			width: 1px;
			height: 10px;
			content: '';
			background: #333;
			position: absolute;
		}

		&:after {
			@include rotate(-45deg);
		}

		&:before {
			@include rotate(45deg);
		}

		&:hover {
			background: #efe3dc;
		}

		&:active {
			background: #fff2eb;
		}
	}

	.showcase-image {
		display: block;
	}

	.showcase-content {
		padding: 10px 25px 30px 25px;
	}

	.showcase-name {
		font-size: 13px;
		font-weight: 700;
		line-height: 17px;
		margin-bottom: 0;
		text-transform: uppercase;

		a {
			color: $color-orange;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.showcase-size {
		color: #999;
		font-size: 12px;
		line-height: 16px;
		margin: 0 -10px 10px 0;
	}

	.showcase-purchase {
		padding: 0;
		list-style: none;
		margin: 0 0 20px 0;
		@include clearfix();

		> li {

			&:first-child {
				float: left;
			}

			&:last-child {
				float: right;
				padding-top: 5px;
				text-align: right;
				position: relative;
			}
		}

		.form-number {
			width: 90px;
			height: 25px;
			font-size: 0;
			line-height: 0;
			display: block;

			input[type='text'] {
				font-size: 13px;
				line-height: 19px;
				padding: 2px 3px;
			}

			span {
				height: 25px;
				font-size: 13px;
				line-height: 19px;
				padding: 2px 0;
			}
		}

		.price {
			font-size: 17px;
			font-weight: 700;
			line-height: 17px;
		}

		.price-old {
			top: -6px;
			right: 0;
			color: #999;
			font-size: 13px;
			font-weight: 700;
			line-height: 11px;
			position: absolute;
			text-decoration: line-through;
		}
	}

	.btn {
		width: 100%;
	}
}


// Product

.colors {
	margin-bottom: 20px;

	&.colors-selected {

		.colors-list {
			display: none;
		}

		.colors-current {
			display: block;
		}
	}

	.colors-list {
		padding: 0;
		list-style: none;
		margin: 0 -3px 0 -2px;
		@include clearfix();

		> li {
			float: left;
			padding: 0 3px 0 2px;

			&.last {
				float: right;

				a {
					font-size: 13px;
					line-height: 14px;
					color: $color-orange;
					text-decoration: none;
					border-bottom: 1px dashed $color-orange;

					&:hover {
						border-bottom-color: transparent;
					}
				}
			}
		}

		label {
			width: 25px;
			height: 25px;
			font-size: 0;
			line-height: 0;
			display: block;

			input[type="radio"] {
				display: none;
			}

			span {
				width: 25px;
				height: 25px;
				display: block;
			}

			input[type="radio"]:checked + span::before {

			}
		}
	}

	.colors-current {
		margin: 0;
		padding: 0;
		width: 100%;
		display: none;
		list-style: none;

		> li {
			overflow: hidden;
			display: table-cell;
			vertical-align: middle;

			&:first-child {
				width: 33px;
			}

			&:last-child {
				width: 60px;
				text-align: right;
			}

			.colors-price {
				font-weight: 700;
				max-width: 100%;
				overflow: hidden;
				display: inline-block;
				white-space: nowrap;
			}

			.color-name {
				color: #333;
				font-size: 13px;
				line-height: 14px;
				max-width: 100%;
				overflow: hidden;
				display: inline-block;
				text-decoration: none;
				white-space: nowrap;
				border-bottom: 1px dashed #333;

				&:hover {
					text-decoration: none;
					border-bottom-color: transparent;
				}
			}
		}

		label {
			width: 25px;
			height: 25px;
			font-size: 0;
			line-height: 0;
			display: block;

			input[type="radio"] {
				display: none;
			}

			span {
				width: 25px;
				height: 25px;
				display: block;
			}
		}
	}
}

.product-buy {
	padding: 0;
	list-style: none;
	margin: 0 0 20px 0;
	@include clearfix();

	> li {

		&:first-child {
			float: left;
		}

		&:last-child {
			float: right;
			padding-top: 5px;
			text-align: right;
			position: relative;
		}
	}

	.form-number {
		width: 90px;
		height: 25px;
		font-size: 0;
		line-height: 0;
		display: block;

		input[type='text'] {
			font-size: 13px;
			line-height: 19px;
			padding: 2px 3px;
		}

		span {
			height: 25px;
			font-size: 13px;
			line-height: 19px;
			padding: 2px 0;
		}
	}

	.price {
		font-size: 17px;
		font-weight: 700;
		line-height: 17px;
	}

	.price-old {
		top: -6px;
		right: 0;
		color: #999;
		font-size: 13px;
		font-weight: 700;
		line-height: 11px;
		position: absolute;
		text-decoration: line-through;
	}
}

.product-assembly {
	padding: 0;
	list-style: none;
	margin: 0;
	@include clearfix();

	> li {
		font-size: 15px;
		line-height: 20px;

		i {
			font-size: 12px;
		}

		&:first-child {
			float: left;
		}

		&:last-child {
			float: right;
			text-align: right;
		}
	}

	label {

		input[type="checkbox"] {
			display: none;
		}

		.input-assembly-text {
			color: #333;
			font-size: 15px;
			line-height: 20px;
			padding-left: 45px;
			display: inline-block;
			position: relative;

			&:before {
				left: 0;
				top: 50%;
				color: #fff;
				width: 16px;
				height: 16px;
				font-size: 14px;
				font-weight: 400;
				line-height: 14px;
				content: "\f00c";
				margin-top: -8px;
				position: absolute;
				background: #fff;
				text-align: center;
				display: inline-block;
				border: 1px solid #333;
				font-family: FontAwesome;
			}
		}

		input[type="checkbox"]:checked + .input-assembly-text::before {
			background: #333;
		}
	}

	.ico-svg {
		top: 50%;
		left: 25px;
		height: 16px;
		fill: #333;
		margin-top: -8px;
		position: absolute;
	}
}

.product-table {
	max-width: 470px;
	margin-bottom: 20px;

	ul {
		width: 100%;
		padding: 0;
		font-size: 15px;
		line-height: 16px;
		list-style: none;
		margin: 0 0 8px 0;
		position: relative;
		@include clearfix();
		border-bottom: 1px dashed #f1f1f1;

		> li {

			&:first-child {
				float: left;
				width: 150px;
			}

			&:last-child {
				float: right;
			}

			span {
				z-index: 2;
				padding: 1px;
				background: #fff;
				position: relative;
				margin-bottom: -2px;
				display: inline-block;
			}
		}
	}
}

.product {
	@include clearfix();

	.product-image {
		margin: 0 -17px;
	}

	.product-purchase {
		position: relative;
		padding: 15px 0 17px 0;

		&:before {
			bottom: 0;
			content: '';
			height: 2px;
			left: -2000px;
			right: -2000px;
			position: absolute;
			background: #f6f6f6;
		}

		.product-action {
			margin: 0;
			padding: 0;
			list-style: none;

			> li {

				&:first-child {
					margin-bottom: 10px;
				}
			}

			.btn {
				width:100%;
			}
		}
	}

	.product-info {
		padding: 10px 0;

		p {
			margin-bottom: 5px;
		}
	}

	@media (min-width: $screen-sm-min) {

		.product-image {
			float: left;
			width: 305px;
			margin: 0 0 0 -32px;
		}

		.product-purchase {
			float: right;
			width: 240px;
			height: 303px;
			padding-top: 30px;
		}


		.product-info {
			float: left;
			width: 100%;
			padding: 25px 0;
		}
	}

	@media (min-width: $screen-md-min) {
		@include flexbox();

		.product-image {
			float: none;
			@include order(1);
		}

		.product-purchase {
			float: none;
			width: 272px;
			padding-left: 30px;
			@include order(3);

			&:before {
				display: none;
			}
		}

		.product-info {
			float: none;
			width: 304px;
			padding: 25px 30px;
			border-right: 2px solid #f6f6f6;
			@include order(2);
		}
	}

	@media (min-width: $screen-lg-min) {

		.product-info {
			width: 610px;
		}

		.product-purchase {
			width: 272px;
		}
	}
}

.often {

	.often-heading {
		padding: 28px 0;
		max-width: 200px;
		font-size: 20px;
		font-weight: 600;
		line-height: 20px;
		position: relative;
		background: #f6f6f6;

		&:after,
		&:before {
			top: 0;
			bottom: 0;
			z-index: -1;
			content: '';
			width: 2000px;
			position: absolute;
			background: #f6f6f6;
		}

		&:after {
			left: -2000px;
		}

		&:before {
			right: -2000px;
		}

		.often-heading-text {

		}
	}

	.often-slider {
		margin: 0 -17px;

		.often-item {
			border: none;
			outline: none;
			position: relative;

			&:before {
				top: 0;
				right: 0;
				z-index: 10;
				width: 2px;
				content: '';
				height: 100%;
				position: absolute;
				background: #f2f2f2;
			}
		}

		.slide-nav {
			top: -65px;

			&.next {
				right: 20px;
			}

			&.prev {
				right: 70px;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.often-heading {
			font-size: 20px;
			max-width: 450px;
		}

		.often-slider {
			margin: 0 -32px;
		}

		.often-slider {

			.slide-nav {
				top: -52px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

	}
}

.series {
	@include clearfix();

	.series-table {

		ul {
			list-style: none;
			margin: 0 0 25px 0;
			position: relative;
			padding: 0 0 0 77px;
			@include clearfix();

			> li {

				&:nth-child(1) {
					top: 0;
					left: 0;
					width: 60px;
					position: absolute;
				}

				&:nth-child(2) {
					margin-bottom: 10px;
				}

				&:nth-child(3) {
					margin-bottom: 10px;
				}
			}
		}

		.series-table-name {
			font-size: 15px;
			line-height: 20px;
			color: $color-orange;
			display: inline-block;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		.price-old {
			color: #999;
			font-size: 13px;
			line-height: 20px;
			margin-right: 8px;
		}

		.price-new {
			color: #666;
			font-size: 15px;
			font-weight: 700;
			line-height: 20px;

			i {
				font-size: 13px;
			}
		}
	}

	.series-total {
		margin: 0;
		list-style: none;
		padding: 10px 0 15px 0;
		border-top: 2px solid #eee;
		@include clearfix();

		> li {
			color: #999;
			float: left;

			&:first-child {
				color: #000;
				font-weight: 700;
				margin-right: 27px;
			}

			&:last-child {
				color: #000;
				font-weight: 700;
				float: right;

				i {
					font-weight: 400;
				}
			}
		}
	}

	.series-buy {
		@include clearfix();

		> li {

			&:first-child {
				margin-bottom: 10px;
			}
		}

		.btn {
			width: 100%;
			padding: 18px 17px;

			i {
				margin-right: 5px;
			}
		}
	}

	.series-colors {
		margin-bottom: 20px;

		> li {

			&:first-child {
				display: none;
			}
		}
	}

	.colors {
		margin-bottom: 0;

		.colors-list {

			> li {
				display: none;

				&:nth-child(-n+5) {
					display: block;
				}

				&:last-child {
					display: block;
				}
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		.series-table {
			margin-bottom: 25px;

			ul {
				padding: 0;
				width: 100%;
				display: table;
				margin-bottom: 5px;

				> li {
					float: none;
					display: table-cell;
					vertical-align: middle;

					&:nth-child(1) {
						top: auto;
						left: auto;
						width: 60px;
						position: inherit;
					}

					&:nth-child(2) {
						width: 200px;
						margin-bottom: 0;
						padding-left: 30px;
					}

					&:nth-child(3) {
						width: 110px;
						margin-bottom: 0;
					}

					&:nth-child(4) {
						text-align: right;
					}
				}
			}
		}

		.series-total {
			padding-bottom: 25px;

			> li {

				&:first-child {
					margin-right: 235px;
				}
			}
		}

		.series-buy {
			margin: 0 -15px;

			> li {
				width: 50%;
				float: left;
				padding: 0 15px;

				&:first-child {
					margin-bottom: 0;
				}
			}
		}

		.series-colors {
			width: 100%;
			display: table;
			vertical-align: middle;

			> li {
				display: table-cell;
				vertical-align: middle;

				&:first-child {
					width: 90px;
					display: table-cell;
				}
			}
		}

		.colors {

			.colors-list {

				> li {
					display: block;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.series-table {
			margin-bottom: 25px;

			ul {
				width: 100%;
				display: block;
				padding: 0 0 0 90px;
				margin-bottom: 15px;

				> li {
					display: block;
					vertical-align: middle;

					&:nth-child(1) {
						top: 0;
						left: 0;
						width: 60px;
						position: absolute;
					}

					&:nth-child(2) {
						width: auto;
						padding-left: 0;
						margin-bottom: 10px;
					}

					&:nth-child(3) {
						width: auto;
					}

					&:nth-child(4) {
						top: 33px;
						right: 0;
						text-align: right;
						position: absolute;
					}
				}
			}
		}

		.colors {

			.colors-list {

				> li {
					display: none;

					&:nth-child(-n+7) {
						display: block;
					}

					&:last-child {
						display: block;
					}
				}
			}
		}

		.series-total {
			padding-bottom: 25px;

			> li {

				&:first-child {
					margin-right: 180px;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		.series-table {
			margin-bottom: 25px;

			ul {
				padding: 0;
				width: 100%;
				display: table;
				margin-bottom: 5px;

				> li {
					float: none;
					display: table-cell;
					vertical-align: middle;

					&:nth-child(1) {
						top: auto;
						left: auto;
						width: 60px;
						position: inherit;
					}

					&:nth-child(2) {
						width: 200px;
						margin-bottom: 0;
						padding-left: 30px;
					}

					&:nth-child(3) {
						width: 100px;
						margin-bottom: 0;
					}

					&:nth-child(4) {
						top: auto;
						right: auto;
						position: inherit;
					}
				}
			}
		}

		.colors {

			.colors-list {

				> li {
					display: block;
				}
			}
		}
	}
}


.series-gallery {
	margin: 0 -17px;
	position: relative;
	@include clearfix();

	.image-large {
		position: relative;

		.image-large-item {
			border: none;
			outline: none;
		}
	}

	.image-thumb {
		position: relative;

		.image-thumb-slider {
			position: relative;
		}

		.image-thumb-item {
			border: none;
			outline: none;
		}

		.image-nav {
			top: 0;
			color: #fff;
			cursor: pointer;
			z-index: 10;
			bottom: 0;
			width: 30px;
			text-align: center;
			display: inline-block;
			position: absolute;

			i {
				top: 50%;
				left: 50%;
				color: #fff;
				width: 16px;
				height: 16px;
				font-size: 16px;
				line-height: 16px;
				position: absolute;
				margin: -8px 0 0 -8px;
			}

			&.prev {
				left: 0;
				background: -moz-linear-gradient(left, rgba(68,68,68,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(left, rgba(68,68,68,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to right, rgba(68,68,68,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6444444', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
			}

			&.next {
				right: 0;
				background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(68,68,68,0.65) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(68,68,68,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(68,68,68,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6444444',GradientType=1 ); /* IE6-9 */
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		margin: 0;
		padding-top: 30px;

		.image-large {
			float: left;
			width: 414px;
		}

		.image-thumb {
			float: right;
			width: 104px;

			.image-nav {
				left: 0;
				right: 0;
				width: 100%;
				bottom: auto;
				height: 40px;

				i {
					@include rotate(90deg);
				}

				&.prev {
					top: 0;
					bottom: auto;
					background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

				}

				&.next {
					bottom: 0;
					top: auto;
					background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(68,68,68,0.65) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(68,68,68,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(68,68,68,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6444444',GradientType=0 ); /* IE6-9 */
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		width: 394px;
		float: left;
		padding-bottom: 30px;

		.image-large {
			width: 100%;
			margin-bottom: 30px;
		}

		.image-thumb {
			width: 100%;

			.image-nav {
				top: 0;
				width: 40px;
				height: auto;
				bottom: 0;

				i {
					@include rotate(0deg);
				}


				&.prev {
					left: 0;
					top: 0;
					bottom: 0;
					right: auto;
					background: -moz-linear-gradient(left, rgba(68,68,68,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(left, rgba(68,68,68,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to right, rgba(68,68,68,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6444444', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
				}

				&.next {
					top: 0;
					right: 0;
					bottom: 0;
					left: auto;
					background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(68,68,68,0.65) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(68,68,68,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(68,68,68,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6444444',GradientType=1 ); /* IE6-9 */
				}
			}
		}
	}


	@media (min-width: $screen-lg-min) {
		width: 550px;

		.image-large {
			width: 417px;
			margin-bottom: 0;
		}

		.image-thumb {
			width: 104px;

			.image-nav {
				left: 0;
				right: 0;
				top: auto;
				width: 100%;
				height: 40px;
				bottom: auto;

				i {
					@include rotate(90deg);
				}

				&.prev {
					top: 0;
					left: 0;
					right: 0;
					bottom: auto;
					background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
				}

				&.next {
					top: auto;
					left: 0;
					right: 0;
					bottom: 0;
					background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(68,68,68,0.65) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(68,68,68,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(68,68,68,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6444444',GradientType=1 ); /* IE6-9 */
				}
			}
		}
	}
}

.series-content {
	padding: 30px 0;
	position: relative;

	@media (min-width: $screen-sm-min) {

	}

	@media (min-width: $screen-md-min) {
		float: right;
		width: 460px;
		min-height: 461px;
		margin-right: -32px;

		&:before {
			top: 0;
			left: 0;
			bottom: 0;
			width: 2px;
			content: '';
			position: absolute;
			background: #f2f2f2;
		}
	}

	@media (min-width: $screen-lg-min) {
		width: 612px;
		min-height: 374px;
		padding: 30px 32px 30px 32px;
	}
}

.series-tabs {

	.series-tabs-nav {
		margin: 0;
		padding: 0;
		display: none;
		list-style: none;
		border-bottom: 2px solid #efe3dd;
		@include clearfix();

		li{
			float: left;
			margin-bottom: -2px;

			a {
				z-index: 5;
				width: 100%;
				font-size: 15px;
				line-height: 21px;
				padding: 10px 20px;
				text-align: center;
				color: $color-orange;
				display: inline-block;
				text-decoration: none;
				position: relative;
				background: transparent;
				border-top: 2px solid #efe3dc;
				border-left: 2px solid #efe3dc;

				&:hover {
					background: #efe3dc;
					border-color: #efe3dc;
				}
			}

			&:last-child {
				border-right: 2px solid #efe3dc;

				&.active {
					border-right-color: $color-orange;
				}
			}

			&.active {

				a {
					color: #fff;
					background: $color-orange;
					border-color: $color-orange;
				}
			}
		}
	}

	.series-tabs-item {

		&.active {

			.tabs-header {
				color: #fff;
				background: $color-orange;
				border-color: $color-orange;
			}

			.tabs-content {
				display: block;
			}
		}

		&:last-child {

			.tabs-header {
				border-bottom: 2px solid #efe3dd;
			}

			&.active {

				.tabs-header {
					border-bottom-color: $color-orange;
				}
			}
		}

		.tabs-header {
			margin: 0 -17px;
			color: $color-orange;
			padding: 12px 10px;
			font-size: 15px;
			cursor: pointer;
			line-height: 19px;
			border: 2px solid #efe3dd;
			text-align: center;
			border-bottom: none;
		}

		.tabs-content {
			display: none;
			padding-top: 15px;
			padding-bottom: 25px;
		}
	}

	@media (min-width: $screen-sm-min) {

		.series-tabs-nav {
			display: block;
		}

		.series-tabs-item {

			.tabs-header {
				display: none;
			}

			.tabs-content {
				padding-bottom: 10px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.series-tabs-nav {
			display: none;
		}

		.series-tabs-item {

			.tabs-header {
				margin: 0;
				display: block;
			}

			.tabs-content {
				padding-left: 30px;
				padding-right: 32px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		.series-tabs-nav {
			display: block;
		}

		.series-tabs-item {

			.tabs-header {
				display: none;
			}

			.tabs-content {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}


