.service-wrap {
	width: 300px;
	margin: 0 auto;
	position: relative;

	&:after,
	&:before {
		top: 0;
		width: 2px;
		z-index: 50;
		content: '';
		height: 100%;
		position: absolute;
		background: #f5f5f5;
	}

	&:after {
		left: 0;
	}

	&:before {
		right: 0;
	}

	@media (min-width: $screen-sm-min) {
		width: 610px;
	}

	@media (min-width: $screen-md-min) {
		width: 915px;
	}

	@media (min-width: $screen-lg-min) {
		width: 100%;
	}
}

.service {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	@include clearfix();

	> li {
		position: relative;
		border-bottom: 2px solid #f5f5f5;

		&:after,
		&:before {
			content: '';
			bottom: -2px;
			width: 1000px;
			position: absolute;
			border-bottom: 2px solid #f5f5f5;
		}

		&:after {
			left: -1000px;
		}

		&:before {
			right: -1000px;
		}
	}

	.service-item {
		color: #555;
		display: block;
		font-size: 13px;
		line-height: 15px;
		min-height: 105px;
		position: relative;
		padding: 15px 20px 15px 106px;
		text-decoration: none;

		.service-icon {
			top: 50%;
			left: 20px;
			width: 75px;
			height: 75px;
			padding-top: 14px;
			margin-top: -38px;
			text-align: center;
			position: absolute;
			background: url("../img/advantage_bg.svg") 50% 50% no-repeat;
			background-size: cover;

			.ico-svg {
				fill: #333;
				height: 47px;
			}
		}

		h4 {
			color: #333;
			font-size: 13px;
			font-weight: 700;
			line-height: 18px;
			margin-bottom: 5px;
			text-transform: uppercase;

			span {
				border-bottom: 1px solid transparent;
			}
		}

		p {
			color: #555;
			margin-bottom: 0;
		}

		&:hover {
			background: #e8e8e8;

			h4 {

				span {
					border-bottom-color: #333;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {


		> li {
			width: 50%;
			float: left;
		}

		.service-item {
			min-height: 135px;
			padding: 40px 20px 20px 120px;

			&:before {
				top: 0;
				right: 0;
				width: 2px;
				z-index: 50;
				content: '';
				height: 100%;
				position: absolute;
				background: #f5f5f5;
			}

			.service-icon {
				left: 30px;
			}
		}
	}


	@media (min-width: $screen-md-min) {

		> li {
			width: 305px;
		}
	}

	@media (min-width: $screen-lg-min) {

		> li {
			width: 25%;
		}
	}
}

