.rows {
	@include clearfix();
	position: relative;

	&.open {

		.col-sidebar {
			visibility: visible;
			@include opacity(1);
			@include transition(.3s);
		}
	}

	.col-sidebar {
		left: 0;
		z-index: 10;
		width: 300px;
		margin-left: -17px;
		position: absolute;
		background: #fff;
		visibility: hidden;
		@include opacity(0);
		@include transition(.3s);
		border-left: 2px solid #f2f2f2;
	}

	.showcase-float {
		padding: 0;
		margin: 0 -17px;
		list-style: none;
		@include clearfix();

		> li {
			position: relative;
		}
	}

	@media (min-width: $screen-sm-min) {

		&.open {

			.col-content {
				margin-left: 305px;
			}

			.showcase-float {

				> li {
					width: 100%;
				}
			}
		}

		.col-sidebar {
			width: 304px;
			margin-left: -32px;
		}

		.col-content {
			@include transition(.3s);
		}

		.showcase-float {
			margin: 0 -32px;

			> li {
				width: 50%;
				float: left;

				&:before {
					top: 0;
					left: 0;
					width: 2px;
					z-index: 50;
					content: '';
					height: 100%;
					position: absolute;
					background: #f2f2f2;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&.open {

			.showcase-float {

				> li {
					width: 305px;
				}
			}
		}

		.showcase-float {

			> li {
				width: 305px;
			}
		}
	}


	@media (min-width: $screen-lg-min) {

		&.open {

			.showcase-float {

				> li {
					width: 305px;
				}
			}
		}

		.showcase-float {

			> li {
				width: 25%;
			}
		}
	}
}


.col-sidebar {

	.filter-content {
		width: 100%;
		height: 100%;
		background: #fff;
		position: relative;
	}

	.filter-header {
		height: 75px;
		width: 100%;
		position: relative;
		padding: 0 50px 0 73px;
		border-top: 2px solid #f6f6f6;
		@include flexbox();

		&:before {
			right: 0;
			bottom: 0;
			content: '';
			height: 2px;
			width: 1500px;
			display: block;
			position: absolute;
			background: rgba(0,0,0,0.05);
		}

		.filter-header-wrap {
			margin: auto 0;
		}

		.ico-svg {
			top: 50%;
			left: 30px;
			fill: #333;
			height: 33px;
			margin-top: -17px;
			position: absolute;
		}

		.filter-header-text {
			font-size: 14px;
			font-weight: 600;
			line-height: 14px;
			text-transform: uppercase;
		}

		.filter-reset {
			font-size: 13px;
			line-height: 13px;
			color: $color-orange;
			display: inline-block;
			position: relative;
			padding-left: 14px;

			&:after,
			&:before {
				top: 50%;
				left: 0;
				z-index: 1;
				width: 10px;
				height: 2px;
				content: '';
				margin-top: -1px;
				position: absolute;
				background: $color-orange;
			}

			&:after {
				@include rotate(-45deg);
			}

			&:before {
				@include rotate(45deg);
			}

			&:hover {
				text-decoration: underline;
			}
		}

		.sidebar-filter-close {
			top: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			width: 75px;
			cursor: pointer;
			position: absolute;
			display: inline-block;
			background: url("../img/icon_navbar_close.png") 50% 50% no-repeat;
		}
	}

	.filter-footer {
		height: 77px;
		position: relative;
		padding: 22px 30px 20px 30px;
		@include clearfix();

		span {
			float: left;
			display: block;
			font-size: 13px;
			line-height: 17px;
			width: 90px;
		}

		.btn {
			float: right;
		}
	}

	.filter-list {
		margin: 0;
		padding: 0;
		z-index: 2100;
		list-style: none;

		> li {
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.filter-group {
		position: relative;

		&:before {
			right: 0;
			bottom: 0;
			z-index: 5;
			content: '';
			height: 2px;
			width: 1500px;
			display: block;
			position: absolute;
			background: rgba(0,0,0,0.05);
		}

		&.filter-group-list {

			.filter-group-header {

				&:hover {
					background: #e8e8e8;
				}
			}
		}

		.filter-group-header {
			position: relative;
			padding: 20px 30px 17px 30px;
		}

		.filter-group-reset {
			top: 8px;
			right: 28px;
			width: 30px;
			height: 30px;
			cursor: pointer;
			position: absolute;
			display: inline-block;
			@include border-radius(50%);

			&:after,
			&:before {
				left: 50%;
				top: 50%;
				z-index: 1;
				width: 10px;
				height: 2px;
				content: '';
				margin-left: -5px;
				margin-top: -1px;
				background: #555;
				position: absolute;
			}

			&:after {
				@include rotate(-45deg);
			}

			&:before {
				@include rotate(45deg);
			}

			&:hover {
				background: #efe3dc;
			}
		}

		.filter-group-name {
			color: #999;
			font-size: 13px;
			line-height: 15px;
			margin-bottom: 5px;
		}

		.filter-group-value {
			color: #333;
			cursor: pointer;
			font-size: 15px;
			font-weight: 600;
			line-height: 20px;
			position: relative;
			background: transparent !important;
			padding: 1px 30px 1px 0;

			.slide-button {
				top: -3px;
				right: 0;
				width: 29px;
				height: 29px;
				position: absolute;
				display: inline-block;
				@include border-radius(50%);
				@include transition(.3s);

				&:before {
					top: 50%;
					left: 10px;
					height: 11px;
					font-size: 11px;
					content: "\f078";
					font-weight: 400;
					margin-top: -6px;
					line-height: 11px;
					position: absolute;
					font-family: FontAwesome;
				}
			}

			&:hover {
				background: #efe3dc;
			}
		}

		.filter-group-content {
			z-index: 10;
			display: none;
			position: relative;
			padding: 0 30px 20px 30px;

			.filter-group-close {
				font-size: 13px;
				line-height: 17px;
				cursor: pointer;
				display: inline-block;

				i {
					font-size: 17px;
					margin-left: 5px;
				}
			}
		}

		&.open {

			.filter-group-value {

				.slide-button {
					@include rotate(180deg);
					@include transition(.3s);
				}
			}
		}
	}

	.filter-main {
		position: relative;
	}

	.filter-scroll {
		height: 100%;
		position: relative;
	}

	.filter-body {
		position: relative;
		padding: 20px 30px 17px 30px;

		.filter-range {

			&.filter-range-text {
				padding-bottom: 20px;
			}

			.filter-range-legend {
				margin: 0;
				padding: 3px 0 0 0;
				color: #ccc;
				font-size: 13px;
				line-height: 17px;
				list-style: none;
				@include clearfix();

				> li {
					&:first-child {
						float: left;
						text-align: left;
					}

					&:last-child {
						float: right;
						text-align: right;
					}
				}

				span {
					color: #333;
					font-size: 15px;
				}

				i {
					color: #333;
					font-size: 12px;
				}
			}
		}
	}

	.filter-group-colors {
		color: #333;
		display: block;
		text-decoration: none;
		font-size: 15px;
		line-height: 20px;
		position: relative;

		&:before {
			top: 50%;
			right: 0;
			height: 11px;
			font-size: 11px;
			content: "\f054";
			font-weight: 400;
			margin-top: -4px;
			line-height: 11px;
			position: absolute;
			font-family: FontAwesome;
		}

	}

	.scroll-element {
		z-index: 10;
	}

	.filter-size {
		margin: 0 -3px;
		padding: 0;
		list-style: none;
		@include clearfix();

		> li {
			padding: 0 3px;
			float: left;
			width: 33.33%;
			position: relative;

			&:focus {
				z-index: 10;
			}
		}

		.mini-label {
			color: #333;
			width: 100%;
			font-size: 13px;
			line-height: 20px;
			display: inline-block;
		}

		.form-control {
			padding: 8px 10px;

			&:focus {
				z-index: 20;
			}

		}
	}

	@media (min-width: $screen-sm-min) {

		.filter-wrap {

		}
	}

	@media (min-width: $screen-md-min) {

		.filter-wrap {

		}
	}

	@media (min-width: $screen-lg-min) {

		.filter-wrap {

		}
	}

	.scroll-bar {
		right: 0 !important;
		width: 10px !important;
		left: auto !important;
	}

}


