.tabs-item {
	display: none;

	&.active {
		display: block;
	}
}

.vacancy {
	margin: 0 -25px;

	> li {
		position: relative;
		border-bottom: 2px solid #f6f6f6;

		&:after,
		&:before {
			z-index: 1;
			content: '';
			height: 2px;
			bottom: -2px;
			width: 1000px;
			position: absolute;
			background: #f6f6f6;
		}

		&:after {
			left: -1000px;
		}

		&:before {
			right: -1000px;
		}

		&:hover {
			background: #e8e8e8;
			border-bottom: 2px solid #e8e8e8;

			&:after,
			&:before {
				top: 0;
				height: auto;
				background: #e8e8e8;
			}
		}

		&.open {
			background: #e8e8e8;
			border-bottom: 2px solid #e8e8e8;

			&:after,
			&:before {
				top: 0;
				height: auto;
				background: #e8e8e8;
			}

			.vacancy-title {

				a {
					color: #333;
					border-bottom-color: transparent;
				}
			}

			.vacancy-content {
				display: block;
			}
		}
	}

	.vacancy-title {
		cursor: pointer;
		padding: 17px 17px;
		position: relative;

		span {
			top: 50%;
			right: 30px;
			width: 9px;
			height: 9px;
			display: none;
			position: absolute;

			&:after,
			&:before {
				top: 0;
				left: 0;
				width: 9px;
				height: 1px;
				content: '';
				background: #333;
				position: absolute;
			}

			&:after {
				@include rotate(-45deg);
			}

			&:before {
				@include rotate(45deg);
			}
		}


		a {
			font-size: 13px;
			font-weight: 700;
			line-height: 15px;
			color: $color-orange;
			text-decoration: none;
			text-transform: uppercase;
			border-bottom: 1px dashed $color-orange;
		}
	}

	.vacancy-content {
		display: none;
		padding: 0 17px;

		h4 {
			font-size: 15px;
			font-weight: 700;
			line-height: 20px;
			margin-bottom: 0;
		}

		p {
			margin-bottom: 20px;
		}
	}

	@media (min-width: $screen-sm-min) {

		> li {

			&.open {

				.vacancy-title {

					span {
						display: inline-block;
					}
				}
			}
		}

		.vacancy-title {
			padding: 27px 45px 27px 32px;
		}

		.vacancy-content {
			padding: 0 32px;
		}
	}
}

.form-brief {
	max-width: 585px;
	padding: 25px 0 50px 0;

	h4 {
		font-size: 17px;
		font-weight: 700;
		line-height: 20px;
		margin-bottom: 10px;
	}

	.form-action {

		.btn {
			width: 100%;
		}
	}

	@media (min-width: $screen-sm-min) {

		.form-action {
			padding-top: 20px;
			text-align: right;

			.btn {
				width: 190px;
			}
		}

	}
}


.form-row {
	padding: 0;
	width: 100%;
	list-style: none;
	margin: 0 0 10px 0;

	@media (min-width: $screen-sm-min) {
		display: table;

		> li {
			display: table-cell;
			vertical-align: top;

			&:first-child {
				width: 180px;
			}
		}
	}
}

.partners-title {
	font-size: 20px;
	line-height: 22px;
	padding: 18px 0;
	position: relative;
	background: #f6f6f6;

	&:after,
	&:before {
		top: 0;
		z-index: 1;
		content: '';
		height: 100%;
		width: 1000px;
		position: absolute;
		background: #f6f6f6;
	}

	&:after {
		left: -1000px;
	}

	&:before {
		right: -1000px;
	}

	@media (min-width: $screen-sm-min) {
		padding: 28px 0;
	}
}

.partners-content {
	padding-top: 25px;
	padding-bottom: 50px;

	h4 {
		font-size: 15px;
		font-weight: 700;
		line-height: 20px;
		margin-bottom: 10px;
	}

	p {
		margin-bottom: 10px;
	}
}
