.variety {

	.inner {
		overflow: hidden;
		width: 300px;
		margin: 0 auto;
		position: relative;

		&:after,
		&:before {
			top: 0;
			width: 2px;
			z-index: 50;
			content: '';
			height: 100%;
			position: absolute;
			background: #f5f5f5;
		}

		&:after {
			left: 0;
		}

		&:before {
			right: 0;
		}
	}

	.variety-text {
		color: #555;
		font-size: 15px;
		line-height: 20px;
		padding: 30px 12px 50px 12px;

		h2 {
			color: #000;
			margin-bottom: 20px;
		}

		p {
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.variety-image {
		overflow: hidden;

		.variety-image-inner {
		}
	}

	.variety-tiles {
		color: #555;
		font-size: 15px;
		line-height: 20px;
		padding-top: 45px;
		@include clearfix();

		> li {
			position: relative;
			padding: 0 12px 30px 12px;
			margin-bottom: 10px;

			&:first-child {
				color: #999;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		.variety-title {
			color: #c25f28;
			font-size: 13px;
			font-weight: 700;
			line-height: 20px;
			margin-bottom: 10px;
			text-transform: uppercase;

			a {
				color: #c25f28;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		h4 {
			color: #000;
			font-size: 20px;
			font-weight: 600;
			line-height: 25px;
			margin-bottom: 15px;
		}

		p {
			margin-bottom: 0;
		}
	}


	@media (min-width: $screen-sm-min) {

		.inner {
			width: 610px;
		}

		.variety-text {
			padding: 55px 30px 20px 30px;
		}

		.variety-tiles {
			padding: 55px 0 10px 0;

			> li {
				width: 50%;
				float: left;
				margin-bottom: 0;
				padding: 0 28px 40px 28px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.inner {
			width: 915px;
		}

		.variety-text {
			margin-right: -10px;
			padding: 55px 90px 0 30px;
			border-right: 2px solid #f5f5f5;
		}

		.variety-image {
			margin: 60px 0 0 -12px;

			.variety-image-inner {
				width: 713px;
			}
		}

		.variety-tiles {
			padding: 35px 0 0 0;

			> li {
				padding: 0 28px 40px 28px;

				&:nth-child(1) {

					&:before {
						top: -35px;
						left: 100%;
						content: '';
						height: 35px;
						position: absolute;
						border-right: 2px solid #f5f5f5;
					}
				}


				&:nth-child(1),
				&:nth-child(2) {
					height: 205px;
					padding-top: 25px;
				}

				&:nth-child(3),
				&:nth-child(4) {
					height: 190px;
				}

				&:nth-child(1),
				&:nth-child(3) {
					border-right: 2px solid #f5f5f5;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		.inner {
			width: 100%;
		}

		.variety-text {
			padding-right: 80px;
		}

		.variety-image {
			height: 325px;

			.variety-image-inner {
				width: 100%;
				top: -60px;
				position: relative;
			}
		}

		.variety-tiles {
			padding-top: 45px;

			> li {
				width: 25%;
				height: 320px;
				padding-top: 25px;
				padding-right: 45px;
				border-right: 2px solid #f5f5f5;

				&:last-child {
					border-right: none;
				}

				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4) {
					height: 320px;
					padding-top: 25px;
				}

				&:nth-child(1) {

					&:before {
						display: none;
					}
				}


				&:nth-child(2) {

					&:before {
						top: -45px;
						left: 100%;
						content: '';
						height: 45px;
						position: absolute;
						border-right: 2px solid #f5f5f5;
					}
				}
			}
		}
	}
}