.vendors {
	background: #f6f6f6;

	.inner {
		overflow: hidden;
		width: 300px;
		margin: 0 auto;
		position: relative;

		&:after,
		&:before {
			top: 0;
			width: 2px;
			z-index: 50;
			content: '';
			height: 100%;
			position: absolute;
			background: #ececec;
		}

		&:after {
			left: 0;
		}

		&:before {
			right: 0;
		}
	}

	.vendors-heading {
		top: 25px;
		left: 30px;
		font-size: 25px;
		line-height: 30px;
		position: absolute;

		span {
			width: 120px;
			display: inline-block;
		}
	}

	.vendors-slider {
		position: relative;

		.vendors-slider-item {
			border: none;
			outline: none;
			position: relative;
		}

		.slide-nav {
			top: 32px;

			&.prev {
				right: 78px;
			}

			&.next {
				right: 30px;
			}
		}
	}

	.vendor {
		display: block;
		padding: 110px 20px 30px 30px;
		@include clearfix();

		.vendor-image {
			float: left;
		}

		.vendor-text {
			float: left;
			color: #999;
			height: 50px;
			font-size: 13px;
			line-height: 15px;
			padding-left: 15px;
			@include flexbox();

			span {
				margin: auto 0;
				display: inline-block;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.inner {
			width: 610px;
		}

		.vendors-heading {

			span {
				width: auto;
			}
		}

		.vendors-slider {

			.vendors-slider-item {
				border-right: 2px solid #ececec;
			}

			.slide-nav {
				top: 20px;
			}
		}

		.vendor {
			padding-top: 80px;
		}
	}

	@media (min-width: $screen-md-min) {

		.inner {
			width: 915px;
		}
	}

	@media (min-width: $screen-lg-min) {

		.inner {
			width: 100%;
		}
	}
}