.btn {
	margin:0;
	color: #c25f28;
	outline: none;
	cursor: pointer;
	padding: 10px 17px;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	position: relative;
	display: inline-block;
	text-decoration: none !important;
	vertical-align: middle;
	background-image: none;
	background: transparent;
	touch-action: manipulation;
	border: 2px solid #efe3dc;
	@include transition(.1s);
	@include border-radius(0);

	&:hover {
		color: #c25f28;
		background: #efe3dc;
		text-decoration: none;
		border-color: #efe3dc;
	}

	&:active {
		color: #c25f28;
		background: #fff2eb;
		text-decoration: none;
		border-color: #fff2eb;
	}
}

.btn-light {
	color: #fec46e;
	border-color: #6b532e;

	&:hover {
		color: #fec46e;
		border-color: #6b532e;
		background: #6b532e;
	}

	&:active {
		background: #524023;
		border-color: #524023;
	}
}

.btn-orange {
	color: #fff;
	background: #c25f28;
	border-color: #c25f28;

	&:hover {
		color: $color-orange;
		background: #efe3dc;
		border-color: #efe3dc;
	}

	&:active {
		color: $color-orange;
		background: #fff2eb;
		border-color: #fff2eb;
	}
}

.btn-sm {
	line-height: 21px;
	padding: 5px 15px;
}


.btn-md {
	font-weight: 700;
	padding: 20px 45px;
	text-transform: uppercase;
}

.btn-caps {
	text-transform: uppercase;
}
