.form-control {
	margin: 0;
	width: 100%;
	color: #333;
	outline: none;
	font-size: 15px;
	line-height: 20px;
	padding: 10px 10px;
	display: inline-block;
	background: transparent;
	border: 2px solid #eee;
	@include placeholder(#ccc);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		color: #333;
		border-color: #333;
		@include placeholder(transparent);
	}
}

.red {

	.form-control {
		border-color: #ff0000;
	}
}


label {
	font-weight: 400;
	display: block;
}

.form-label {
	padding: 12px 0;
	font-size: 15px;
	line-height: 20px;

	sup {
		color: $color-orange;
	}
}

.form-radio {
	margin-right: 30px;
	position: relative;
	display: inline-block;
	padding: 12px 0 12px 20px;


	&:last-child {
		margin-right: 0;
	}

	.input-radio {
		display: none;
	}

	.form-radio-icon {
		left: 0;
		top: 15px;
		width: 15px;
		height: 15px;
		position: absolute;
		display: inline-block;
		border: 2px solid #333;
		@include border-radius(50%);

		&:before {
			top: 2px;
			left: 2px;
			width: 7px;
			height: 7px;
			content: '';
			display: none;
			background: #333;
			position: absolute;
			@include border-radius(50%);
		}
	}

	.form-radio-text {
		font-size: 15px;
		line-height: 20px;
		display: inline-block;
	}

	.input-radio:checked + .form-radio-icon::before {
		display: inline-block;
	}
}

.form-group {
	margin-bottom: 10px;
}

.form-number {
	color: #666;
	width: 96px;
	height: 30px;
	font-size: 0;
	line-height: 0;
	padding: 0 30px;
	overflow: hidden;
	position: relative;
	display: inline-block;
	background: transparent;
	border: 2px solid #f6f6f6;

	span {
		z-index: 5;
		top: -2px;
		bottom: -2px;
		color: #000;
		width: 30px;
		height: 30px;
		padding: 3px 0;
		cursor: pointer;
		font-size: 15px;
		line-height: 20px;
		text-align: center;
		position: absolute;
		background: #ffffff;
		display: inline-block;
		border: 2px solid #efe3dc;

		&.minus {
			left: -2px;
		}

		&.plus {
			right: -2px;
		}

		&:hover {
			background: #efe3dc;
		}
	}

	input[type='text'] {
		z-index: 1;
		margin: 0;
		width: 100%;
		border: none;
		outline: none;
		color: #666666;
		font-size: 15px;
		line-height: 20px;
		padding: 3px 4px;
		text-align: center;
		position: relative;
		display: inline-block;
		background: transparent;
	}

}


.radio {
	display: inline-block;

	.radio-input {
		display: none;
	}

	.radio-text {
		color: #999;
		cursor: pointer;
		font-size: 15px;
		line-height: 21px;
		position: relative;
		padding-left: 25px;
		display: inline-block;
		@include transition(.3s);

		&:before {
			left: 0;
			top: 3px;
			width: 15px;
			height: 15px;
			content: ' ';
			position: absolute;
			display: inline-block;
			border: 2px solid #eee;
			@include border-radius(50%);
			@include transition(.3s);
		}

		&:after {
			left: 4px;
			top: 7px;
			width: 7px;
			height: 7px;
			content: '';
			background: #333;
			position: absolute;
			display: none;
			@include border-radius(50%);
		}

		&:hover {
			color: #333;
			@include transition(.3s);

			&:before {
				border-color: #333;
				@include transition(.3s);
			}
		}
	}

	.radio-input:checked + .radio-text {
		color: #333;

		&:before {
			border-color: #333;
		}

		&:after {
			display: inline-block;
		}
	}
}


.checkbox {
	display: inline-block;

	input[type='checkbox'] {
		display: none;
	}

	.checkbox-text {
		color: #999;
		cursor: pointer;
		font-size: 15px;
		line-height: 21px;
		position: relative;
		padding-left: 25px;
		display: inline-block;
		@include transition(.3s);

		&:before {
			left: 0;
			top: 3px;
			width: 15px;
			height: 15px;
			content: ' ';
			position: absolute;
			display: inline-block;
			border: 2px solid #eee;
			@include transition(.3s);
		}

		&:after {
			left: 3px;
			top: 7px;
			width: 8px;
			height: 7px;
			content: '';
			position: absolute;
			display: none;
			background: url("../img/checkbox.png") 50% 50% no-repeat;
		}

		&:hover {
			color: #333;
			@include transition(.3s);

			&:before {
				border-color: #333;
				@include transition(.3s);
			}
		}
	}

	input[type='checkbox']:checked + .checkbox-text {
		color: #333;

		&:before {
			background: #333;
			border-color: #333;
		}

		&:after {
			display: inline-block;
		}
	}
}


@media (min-width: $screen-sm-min) {

	.form-control-sm {
		width: 120px;
	}

	.form-control-md {
		width: 296px;
	}

	.form-control-m {
		width: 206px;
	}
}