.pagination {
	font-size: 0;
	line-height: 0;
	position: relative;
	text-align: center;
	border-top: 2px solid #f2f2f2;

	ul {
		width: 300px;
		margin: 0 auto;
		padding: 20px 0;
		list-style: none;
		position: relative;

		&:after,
		&:before {
			top: 0;
			width: 2px;
			z-index: 50;
			content: '';
			height: 100%;
			position: absolute;
			background: #f2f2f2;
		}

		&:after {
			left: 0;
		}

		&:before {
			right: 0;
		}

		li {
			display: inline-block;

			a {
				color: #333;
				width: 20px;
				height: 20px;
				outline: none;
				padding: 2px 0;
				font-size: 13px;
				font-weight: 700;
				line-height: 15px;
				text-align: center;
				display: inline-block;
				text-decoration: none;
				border-bottom: 1px solid transparent;

				&:hover {
					background: #e8e8e8;
				}
			}

			&.current {

				a {
					color: #fff;
					background: #333;

					&:hover {
						background: #333;
					}
				}
			}

			&:last-child,
			&:first-child {

				a {
					width: auto;
					border-bottom-color: #333;

					&:hover {
						background: transparent;
						border-bottom-color: transparent;
					}
				}
			}

			&:last-child {
				margin-left: 25px;
			}

			&:first-child {
				margin-right: 25px;
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		ul {
			width: 610px;
		}
	}

	@media (min-width: $screen-md-min) {

		ul {
			width: 915px;
		}
	}

	@media (min-width: $screen-lg-min) {

		ul {
			width: 100%;
		}
	}
}
